%h2
  coucou c'est une demande d'achat

%p
  name :
  = @client.name
  %br
  mail :
  = @client.email
  %br
  tel :
  = @client.phone
  %br
  status :
  = @client.status

%p
  message :
  = @client.message
