%h2
  coucou c'est une demande d'achat

%p
  name :
  = @client.name
  %br
  mail :
  = @client.email
  %br
  tel :
  = @client.phone
  %br
  Produit :
  = @client.product
  Quantité :
  = @client.product
  Couleurs :
  = @client.color

%p
  commande :
  = @client.message
