%h2
  Inscription au cours collectif :

%p
  mail :
  = @client.email
  %br
  Prénom + Nom :
  = @client.name
  %br
  Type de sport :
  = @client.sport
  %br
  Nombre :
  = @client.number
  %br
  le choix du créneau :
  = @client.creneau
