.container#gallery_centre
  .row
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-accueil.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-h-training.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-velo.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-tapis-course.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-structure.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-rigueur.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-repetition.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-recuperation.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-progression.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-preparation.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-personnalise.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-parcours.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-materiel.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-installation.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-focus.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-encouragement.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-elastique.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
    .col-lg-3.col-sm-4.col-xs-6
      = image_tag("centre-entrainement-coaching.jpg", :alt => "galerie photos centre entrainement", class: "thumbnail img-responsive")
#myModalCentre.modal.fade{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title Photothèque du centre d'entrainement
      .modal-body
        #modalCarouselCentre.carousel.slide
          .carousel-inner.carousel-inner_centre
        %a.carousel-control.left{"data-slide" => "prev", :href => "#modalCarouselCentre"}
          %i.glyphicon.glyphicon-chevron-left
        %a.carousel-control.right{"data-slide" => "next", :href => "#modalCarouselCentre"}
          %i.glyphicon.glyphicon-chevron-right
