#ModalCentreMedia.modal.fade.bs-example-modal-lg{"aria-labelledby" => "ModalCentreMedia", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            %i.fas.fa-times.fa-lg
      .modal-body
        #carousel-centre-media.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
          .carousel-inner{:role => "listbox"}
            .item.active{"data-slide-number" => "0"}
              = image_tag("centre-entrainement-accueil.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "1"}
              = image_tag("centre-entrainement.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "2"}
              = image_tag("centre-entrainement-h-training.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "3"}
              = image_tag("centre-entrainement-velo.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "4"}
              = image_tag("centre-entrainement-tapis-course.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "5"}
              = image_tag("centre-entrainement-structure.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "6"}
              = image_tag("centre-entrainement-rigueur.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "7"}
              = image_tag("centre-entrainement-repetition.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "8"}
              = image_tag("centre-entrainement-recuperation.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "9"}
              = image_tag("centre-entrainement-progression.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "10"}
              = image_tag("centre-entrainement-preparation.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "11"}
              = image_tag("centre-entrainement-personnalise.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "12"}
              = image_tag("centre-entrainement-parcours.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "13"}
              = image_tag("centre-entrainement-materiel.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "14"}
              = image_tag("centre-entrainement-installation.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "15"}
              = image_tag("centre-entrainement-focus.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "16"}
              = image_tag("centre-entrainement-encouragement.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "17"}
              = image_tag("centre-entrainement-elastique.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
            .item{"data-slide-number" => "18"}
              = image_tag("centre-entrainement-coaching.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-centre-media", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-centre-media", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next
        .row.hidden-xs.carousel-selector
          .col-sm-1
            %a#carousel-selector-0
              = image_tag("centre-entrainement-accueil.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-1
              = image_tag("centre-entrainement.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-2
              = image_tag("centre-entrainement-h-training.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-3
              = image_tag("centre-entrainement-velo.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-4
              = image_tag("centre-entrainement-tapis-course.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-5
              = image_tag("centre-entrainement-structure.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-6
              = image_tag("centre-entrainement-rigueur.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-7
              = image_tag("centre-entrainement-repetition.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-8
              = image_tag("centre-entrainement-recuperation.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-9
              = image_tag("centre-entrainement-progression.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-10
              = image_tag("centre-entrainement-preparation.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-11
              = image_tag("centre-entrainement-personnalise.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-12
              = image_tag("centre-entrainement-parcours.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-13
              = image_tag("centre-entrainement-materiel.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-14
              = image_tag("centre-entrainement-installation.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-15
              = image_tag("centre-entrainement-focus.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-16
              = image_tag("centre-entrainement-encouragement.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-17
              = image_tag("centre-entrainement-elastique.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-18
              = image_tag("centre-entrainement-coaching.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
