#ModalDeconfinement.modal.fade.bs-example-modal-lg{"aria-labelledby" => "ModalDeconfinement", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            %i.fas.fa-times.fa-lg
      .modal-body
        #carousel-deconfinement.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
          .carousel-inner{:role => "listbox"}
            .item.active{"data-slide-number" => "0"}
              = image_tag("deconfinement-juin-1.jpg", :alt => "galerie photos Déconfinement du 1er juin 2020", class: "img-responsive")
              .text-center
                %span.btn.fb-share-button{"data-href" => image_url("deconfinement-juin-1.jpg"), "data-layout" => "button", "data-size" => "large"}
                  %i.fab.fa-facebook-square
                  %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u="+CGI.escape(image_url("deconfinement-juin-1.jpg"))+"&amp;src=sdkpreparse", :target => "_blank"} Partager
            - 55.times do |i|
              .item{"data-slide-number" => "#{i+1}"}
                = image_tag("deconfinement-juin-#{i+2}.jpg", :alt => "galerie photos Déconfinement du 1er juin 2020", class: "img-responsive")
                .text-center
                  %span.btn.fb-share-button{"data-href" => image_url("deconfinement-juin-#{i+2}.jpg"), "data-layout" => "button", "data-size" => "large"}
                    %i.fab.fa-facebook-square
                    %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u="+CGI.escape(image_url("deconfinement-juin-#{i+2}.jpg"))+"&amp;src=sdkpreparse", :target => "_blank"} Partager
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-deconfinement", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-deconfinement", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next
        .row.hidden-xs.carousel-selector
          - 55.times do |i|
            .col-sm-1
              %a{id: "carousel-selector-#{i}"}
                = image_tag("deconfinement-juin-#{i+1}.jpg", :alt => "galerie photos Déconfinement du 1er juin 2020", class: "img-responsive")
