#ModalDelocMedia.modal.fade.bs-example-modal-lg{"aria-labelledby" => "ModalDelocMedia", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"}
            %i.fas.fa-times.fa-lg
      .modal-body
        #carousel-deloc-media.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
          .carousel-inner{:role => "listbox"}
            .item.active
              = image_tag("delocalisation.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-1.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-2.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-3.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-4.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-5.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-6.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-7.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-8.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-9.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-10.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-11.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-12.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-13.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-14.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")

            .item
              = image_tag("delocalisation-15.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-deloc-media", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-deloc-media", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next

        .row.hidden-xs.carousel-selector
          .col-sm-1
            %a#carousel-selector-0
              = image_tag("delocalisation.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-1
              = image_tag("delocalisation-1.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-2
              = image_tag("delocalisation-2.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-3
              = image_tag("delocalisation-3.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-4
              = image_tag("delocalisation-4.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-5
              = image_tag("delocalisation-5.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-6
              = image_tag("delocalisation-6.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-7
              = image_tag("delocalisation-7.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-8
              = image_tag("delocalisation-8.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-9
              = image_tag("delocalisation-9.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-10
              = image_tag("delocalisation-10.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-11
              = image_tag("delocalisation-11.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-12
              = image_tag("delocalisation-12.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-13
              = image_tag("delocalisation-13.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-14
              = image_tag("delocalisation-14.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
          .col-sm-1
            %a#carousel-selector-15
              = image_tag("delocalisation-15.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
