- content_for :title do
  Actualités | Rendez-vous avec notre actualité
- content_for :meta do
  %meta{:content => "Un rendez-vous complet avec notre actualité chaque jour, chaque semaine et chaque mois.", :name => "description"}/
  %meta{:content => "Préparation Physique spécifique, Suivi de la performance, Réathlétisation, Prévention de blessure, séances, individuelles, collectives", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper5
  .container
    %section
      %h1.text-center.text-uppercase
        Actualités
        %span .
      %h4.text-center
        Rendez-vous avec notre actualité
      %br

.wrapper8
  .container
    %section.text-center
      .row
        .col-md-6
          %h3 Chaque jour
          %ul.list-unstyled.list-inline.logo-actu
            %li
              = link_to('https://www.facebook.com/h.training.fr/', target: "_blank", title: "Facebook h-training") do
                %i.fab.fa-4x.fa-facebook-square
            %li
              = link_to('https://www.instagram.com/h.training/', target: "_blank", title: "Instagram h-training") do
                %i.fab.fa-4x.fa-instagram
          %p Vivez en direct l'ambiance au centre d'entrainement
        .col-md-3
          = link_to('https://www.instagram.com/tv/BmaudhqgkxC/?utm_source=ig_share_sheet&igshid=hs4o0eqlyaps', target: "_blank", title: "2018 Aout Semaine 2") do
            %h3 Chaque semaine
            .logo-actu
              %i.fas.fa-4x.fa-film
            %p Revivez la semaine d'entrainement en vidéo (-1min)
          %hr
          %p.red Si vous avez manqué les précédentes
          #down1
            %ul.list-unstyled
              %li
                = link_to('https://www.instagram.com/tv/BmGriS6n1Yc/?utm_source=ig_share_sheet&igshid=f3c4w6iql645', target: "_blank", title: "2018 Aout Semaine 1") do
                  2018 Aout Semaine 1
              %li
                = link_to('https://www.instagram.com/tv/Bl0Y5BmhioD/?utm_source=ig_share_sheet&igshid=13leff3jo3kc', target: "_blank", title: "2018 Juillet Semaine 4") do
                  2018 Juillet Semaine 4
              %li
                = link_to('https://www.instagram.com/tv/BlhkWZxgv4o/?utm_source=ig_share_sheet&igshid=syxz6l156bxz', target: "_blank", title: "2018 Juillet Semaine 3") do
                  2018 Juillet Semaine 3
              %li
                = link_to('https://www.instagram.com/tv/BlNr51EjLh4/?utm_source=ig_share_sheet&igshid=a1bqp4ksugsw', target: "_blank", title: "2018 Juillet Semaine 2") do
                  2018 Juillet Semaine 2
              %li
                = link_to('https://www.instagram.com/tv/Bk-mKNggzdU/?utm_source=ig_share_sheet&igshid=htarvd1unkqe', target: "_blank", title: "2018 Juillet Semaine 1") do
                  2018 Juillet Semaine 1
          %a#angle-down1
            %i.fa.fa-angle-down
            %strong &nbsp; plus
        .col-md-3
          = link_to('https://mailchi.mp/4050419f66a4/newsletter-5-aot-2018', target: "_blank", title: "Newsletter #5 Aout 2018") do
            %h3 Chaque mois
            .logo-actu
              %i.fas.fa-4x.fa-newspaper
            %p Retrouvez toutes les informations du mois
          %hr
          %p.red Si vous avez manqué les précédentes
          #down2
            %ul.list-unstyled
              %li
                = link_to('https://mailchi.mp/eac118d5c12e/4-juillet-newsletter-h-training', target: "_blank", title: "Newsletter #4 Juillet 2018") do
                  Newsletter #4 Juillet 2018
              %li
                = link_to('https://mailchi.mp/1d9d2f4f11c1/newsletter-3-juin-h-training', target: "_blank", title: "Newsletter #3 Juin 2018") do
                  Newsletter #3 Juin 2018
              %li
                = link_to('https://mailchi.mp/c866ed08708e/news-2-mai-2018-h-training', target: "_blank", title: "Newsletter #2 Mai 2018") do
                  Newsletter #2 Mai 2018
              %li
                = link_to('https://mailchi.mp/a5b850c01cbf/h-training-votre-nouveau-centre-dentrainement', target: "_blank", title: "Newsletter #1 Mai 2018") do
                  Newsletter #1 Mai 2018
          %a#angle-down2
            %i.fa.fa-angle-down
            %strong &nbsp; plus
