- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.bandeau
  .text-center
    Récupérez vos commandes en click&collect au centre d’entraînement ou en livraison à domicile 7 jours ouvrés pour 6 €

.wrapper.image-boutique
  .container-fluid
    %section
      %br
      %br
      %br
      %br
      %br
      %h1.text-left.text-uppercase
        %span Boutique
        %span .
      %br
      %p.text-left.font-italic.white.text-justify
        Découvrez notre boutique et n'hésitez plus à commander.
        %br
        Elle se renouvelle très souvent, restez connectés !

.wrapper
  .container-fluid

.wrapper
  .container-fluid
    .row#shop
      .col-md-4.text-center
        .row.gallery-image-f
          .col-xs-4
            = image_tag("shop-femme-t-shirt-top.jpg", :alt => "Boutique : T-shirt femme", class: "img-responsive img-pointer", id: "img-1-F")
            %br
            = image_tag("t-shirt-feminin-h-training.jpg", :alt => "Boutique : T-shirt femme", class: "img-responsive img-pointer", id: "img-2-F")
          .col-xs-8
            = image_tag("shop-t-shirt-feminin.jpg", :alt => "Boutique : T-shirt femme", class: "img-responsive", id: "img-3-F")
        %br
        %br
        %h3 T-shirt (F)
        %i 18 €
        %br
        %i XS-XXXL
        %br
        = link_to("https://h-training.sumup.link/t-shirt", title: "commande T-shirt", :target => "_blank") do
          %span.marge_t10.btn.btn-contact
            COMMANDER
      .col-md-4.text-center
        .row.gallery-image-sw
          .col-xs-4
            = image_tag("sweat-sport-h-training.jpg", :alt => "Boutique : Sweat de sport", class: "img-responsive img-pointer", id: "img-1-SW")
            %br
            = image_tag("sweat-h-training.jpg", :alt => "Boutique : Sweat de sport", class: "img-responsive img-pointer", id: "img-2-SW")
          .col-xs-8
            = image_tag("shop-sweat-h-training.jpg", :alt => "Boutique : Sweat de sport", class: "img-responsive", id: "img-3-SW")
        %br
        %br
        %h3 Sweat
        %i 30 €
        %br
        %i S-XXXL
        %br
        = link_to("https://h-training.sumup.link/sweat", title: "commande Sweat", :target => "_blank") do
          %span.marge_t10.btn.btn-contact
            COMMANDER
      .col-md-4.text-center
        .row.gallery-image-h
          .col-xs-4
            = image_tag("shop-t-shirt-masculin.jpg", :alt => "Boutique : T-shirt homme", class: "img-responsive img-pointer", id: "img-1-H")
            %br
            = image_tag("t-shirt-masculin-h-training.jpg", :alt => "Boutique : T-shirt homme", class: "img-responsive img-pointer", id: "img-2-H")
          .col-xs-8
            = image_tag("t-shirt-homme-h-training.jpg", :alt => "Boutique : T-shirt homme", class: "img-responsive", id: "img-3-H")
        %br
        %br
        %h3 T-shirt (H)
        %i 18 €
        %br
        %i XS-XXXL
        %br
        = link_to("https://h-training.sumup.link/t-shirt", title: "commande T-Shirt", :target => "_blank") do
          %span.marge_t10.btn.btn-contact
            COMMANDER
    %br
    %br
    .row#shop
      .col-md-4.text-center
        .row.gallery-image-l
          .col-xs-8.col-xs-offset-2
            = image_tag("legging-h-training.jpg", :alt => "Boutique : Legging", class: "img-responsive")
        %br
        %br
        %h3 Legging
        %i 26 €
        %br
        %i S-L
        %br
        = link_to("https://h-training.sumup.link/legging", title: "commande Legging", :target => "_blank") do
          %span.marge_t10.btn.btn-contact
            COMMANDER
      .col-md-4.text-center
        .row.gallery-image-c
          .col-xs-8.col-xs-offset-2
            = image_tag("casquette-h-training.jpg", :alt => "Boutique : Casquette", class: "img-responsive")
        %br
        %br
        %h3 Casquette
        %i 14 €
        %br
        %i Taille unique
        %br
        = link_to("https://h-training.sumup.link/casquette", title: "commande Casquette", :target => "_blank") do
          %span.marge_t10.btn.btn-contact
            COMMANDER
      .col-md-4.text-center
        .row.gallery-image-s
          .col-xs-4
            = image_tag("shop-h-training.jpg", :alt => "Boutique : Sac de sport", class: "img-responsive img-pointer", id: "img-1-S")
            %br
            = image_tag("sac-sport-h-training.jpg", :alt => "Boutique : Sac de sport", class: "img-responsive img-pointer", id: "img-2-S")
          .col-xs-8
            = image_tag("shop-sac-h-training.jpg", :alt => "Boutique : Sac de sport", class: "img-responsive", id: "img-3-S")
        %br
        %br
        %h3 Sac
        %i 32 €
        %br
        %i Taille unique
        %br
        = link_to("https://h-training.sumup.link/sac", title: "commande Sac", :target => "_blank") do
          %span.marge_t10.btn.btn-contact
            COMMANDER
    %br
    %br
    .row#shop
      .col-md-4.text-center
      .col-md-4.text-center
        .row.gallery-image-se
          .col-xs-4
            = image_tag("shop-serviette-h-training.jpg", :alt => "Boutique : Serviette de sport", class: "img-responsive img-pointer", id: "img-1-Se")
            %br
            -# = image_tag("serviette-h-training.jpg", :alt => "Boutique : Sac de sport", class: "img-responsive img-pointer", id: "img-2-S")
          .col-xs-8
            = image_tag("serviette-h-training.jpg", :alt => "Boutique : Serviette de sport", class: "img-responsive", id: "img-3-Se")
        %br
        %br
        %h3 Serviette
        %i 25 €
        %br
        %i Taille unique (L. 90 cm x l. 50 cm)
        %br
        = link_to("https://h-training.sumup.link/serviette", title: "commande Serviette", :target => "_blank") do
          %span.marge_t10.btn.btn-contact
            COMMANDER
.wrapper
  .container-fluid
    .row
      .col-md-4.col-md-offset-4.text-center
        = link_to("https://h-training.sumup.link/?sortField=name&sortDirection=asc&categorySlug=shop", title: "Voir plus sur le shop", :target => "_blank") do
          %span.marge_t10.btn.btn-contact
            Je découvre l’intégralité du shop


.wrapper
  .container-fluid

.wrapper.back-grey
  .container-fluid
    .row.text-center
      %h2 CARTE CADEAU
      %h4 À OFFRIR
      %br
      %br
      = image_tag("carte-cadeau.png", :alt => "Boutique : carte cadeau", class: "img-responsive img-pointer")
    .row.marge_t10
      .col-md-4.col-md-offset-4.text-center
        = link_to("https://giftcard.sumup.io/order/GN5ZB71/h-training", title: "Carte Cadeau", :target => "_blank") do
          %span.marge_t10.btn.btn-contact-3
            J'en profite
