- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper
  .container
    %section
      %h1.text-left.text-uppercase
        BOUTIQUE
        %span .

#theCarousel.carousel.slide.multi-item-carousel
  .carousel-inner
    .item.active
      .col-xs-4
        = image_tag("sac-h-training.jpg", :alt => "Sac h-training", class: "img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-sac-t-shirts-homme.jpg", :alt => "shop : sac, t-shirts homme", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-sac-t-shirt-homme-2.jpg", :alt => "shop : sac, t-shirts homme", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-mixte-sweat-vetements.jpg", :alt => "shop : mixtes weat vetements", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-femme-vetements-veste-sac.jpg", :alt => "shop : femme vetements, veste et sac", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-femme-t-shirt-top.jpg", :alt => "shop : femme t-shirt et top", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("dressing-h-training-sportif.jpg", :alt => "dressing h-training pour le sportif", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-vetements.jpg", :alt => "shop vetements", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-vetements-2.jpg", :alt => "shop vetements", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("tenues-h-training.jpg", :alt => "tenues h-training", class: " img-responsive")
  %a.left.carousel-control{"data-slide" => "prev", :href => "#theCarousel"}
    %i.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#theCarousel"}
    %i.glyphicon.glyphicon-chevron-right

.wrapper
  .container
.wrapper
  .container
    %hr.hr-grey

.wrapper
  .container
    En construction
