- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper
  .container
    %section
      %h1.text-left.text-uppercase
        BOUTIQUE
        %span .

#carousel.carousel.slide{"data-interval" => "2500", "data-ride" => "carousel", "data-type" => "multi"}
  .carousel-inner
    .item.active
      .carousel-col
        = image_tag("sac-h-training.jpg", :alt => "Sac h-training", class: "block img-responsive")
    .item
      .carousel-col
        = image_tag("shop-sac-t-shirts-homme.jpg", :alt => "shop : sac, t-shirts homme", class: "block img-responsive")
    .item
      .carousel-col
        = image_tag("shop-mixte-sweat-vetements.jpg", :alt => "shop : mixtes weat vetements", class: "block img-responsive")
    .item
      .carousel-col
        = image_tag("shop-femme-vetements-veste-sac.jpg", :alt => "shop : femme vetements, veste et sac", class: "block img-responsive")
    .item
      .carousel-col
        = image_tag("shop-femme-t-shirt-top.jpg", :alt => "shop : femme t-shirt et top", class: "block img-responsive")
    .item
      .carousel-col
        = image_tag("dressing-h-training-sportif.jpg", :alt => "dressing h-training pour le sportif", class: "block img-responsive")
    .item
      .carousel-col
        = image_tag("shop-vetements.jpg", :alt => "shop vetements", class: "block img-responsive")
    .item
      .carousel-col
        = image_tag("tenues-h-training.jpg", :alt => "tenues h-training", class: "block img-responsive")
  / Controls
  .left.carousel-control
    %a{"data-slide" => "prev", :href => "#carousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
  .right.carousel-control
    %a{"data-slide" => "next", :href => "#carousel", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next

.wrapper
  .container
.wrapper
  .container
    %hr.hr-grey

.wrapper
  .container
    En construction
