- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper.image-boutique
  .container-fluid
    %section
      %br
      %br
      %br
      %br
      %br
      %h1.text-left.text-uppercase
        %span Boutique
        %span .
      %br
      %p.text-left.font-italic.white.text-justify
        Découvrez notre boutique et n'hésitez plus à commander.
        %br
        Elle se renouvelle très souvent, restez connectés !

.wrapper
  .container-fluid

.wrapper
  .container-fluid
    .row
      .col-md-4.text-center
        = image_tag("image-shop-t-shirt-f.png", :alt => "Boutique : T-shirt femme", class: " img-responsive")
        %h3 T-shirt (F)
        %i 18 €
        %br
        %i XS-XXXL
        %br
        %span.marge_t10.btn.btn-contact#t-shirt_f{"data-target" => "#exampleModal", "data-toggle" => "modal", "data-whatever" => "T-shirt Femme", "data-message" => "T-shirt Femme", :type => "button"}
          COMMANDER
      .col-md-4.text-center
        = image_tag("image-site-shop-t-shirt-h.png", :alt => "Boutique : T-shirt homme", class: " img-responsive")
        %h3 T-shirt (H)
        %i 18 €
        %br
        %i XS-XXXL
        %br
        %span.marge_t10.btn.btn-contact#t-shirt_h{"data-target" => "#exampleModal", "data-toggle" => "modal", "data-whatever" => "T-shirt Homme", "data-message" => "T-shirt Homme", :type => "button"}
          COMMANDER
      .col-md-4.text-center
        = image_tag("Image-shop-sac.png", :alt => "Boutique : sac", class: " img-responsive")
        %h3 Sac
        %i 32 €
        %br
        %i Taille unique
        %br
        %span.marge_t10.btn.btn-contact#sac{"data-target" => "#exampleModal", "data-toggle" => "modal", "data-whatever" => "Sac", "data-message" => "Sac", :type => "button"}
          COMMANDER

#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Je commande :
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .container-fluid-fluid
          = simple_form_for(:form_boutique, html: { class: 'form-horizontal' }) do |f|
            .form-inputs.text-center
              = f.input :product, required: true, label: false, autofocus: false, :as => :hidden
              %ul.list-unstyled
                %li.barre.text-left
                  = f.select :status,  options_for_select(FormBoutique::STATUS), as: :radio_button, label: false, required: true
                %li.barre
                  &nbsp;
                %li.barre
                  = f.input :email, required: true, label: false, placeholder: "Votre adresse e-mail", autofocus: false
                %li.barre
                  = f.input :phone, required: true, label: false, placeholder: "Votre numéro de téléphone", autofocus: false
                %li.barre
                  = f.input :name, required: true, label: false, placeholder: "Nom / Raison sociale", autofocus: false
                %li.barre#color_form.text-left
                  %ul.list-unstyled.list-inline.text-left
                    %li.barre
                      Couleurs :
                    %li.barre
                      = f.select :color,  options_for_select(FormBoutique::COLORS), as: :radio_button, label: false
                %li.barre
                  &nbsp;
                %li.barre
                  .row
                    .col-md-6#size_form
                      %ul.list-unstyled.list-inline.text-left
                        %li.barre
                          Taille :
                        %li.barre
                          = f.select :size, options_for_select(FormBoutique::SIZE), as: :radio_button, label: false, required: true
                    .col-md-6.text-center
                      %ul.list-unstyled.list-inline.text-left
                        %li.barre
                          Quantité :
                        %li.barre
                          %ul.list-inline
                            %li
                              %input#minus{:field => "quantity", :type => "button", :value => "-"}/
                            %li
                              = f.input :quantity, label: false, as: :integer, :class => "qty", input_html: { :value => 1, min: '1' }
                            %li
                              %input#plus{:field => "quantity", :type => "button", :value => "+"}/

          #okidokki
          #notoki
      .modal-footer
        %span#button-boutique.btn.btn-contact{:type => "button", "data-style" => "expand-left"}
          %span.ladda-label Je passe commande
