- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper.image-boutique
  .container-fluid
    %section
      %br
      %br
      %br
      %br
      %br
      %h1.text-left.text-uppercase
        %span Boutique
        %span .
      %br
      %p.text-left.font-italic.white.text-justify
        Découvrez notre boutique et n'hésitez plus à commander.
        %br
        elle se renouvelle très souvent, restez connectés !


.wrapper
  .container-fluid

#theCarousel.carousel.slide.multi-item-carousel
  .carousel-inner
    .item.active
      .col-xs-4
        = image_tag("shop-mixte-sweat-vetements.jpg", :alt => "shop : mixtes weat vetements", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-femme-vetements-veste-sac.jpg", :alt => "shop : femme vetements, veste et sac", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-femme-t-shirt-top.jpg", :alt => "shop : femme t-shirt et top", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("sac-h-training.jpg", :alt => "Sac h-training", class: "img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-sac-t-shirts-homme.jpg", :alt => "shop : sac, t-shirts homme", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-sac-t-shirt-homme-2.jpg", :alt => "shop : sac, t-shirts homme", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("dressing-h-training-sportif.jpg", :alt => "dressing h-training pour le sportif", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-vetements.jpg", :alt => "shop vetements", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-vetements-2.jpg", :alt => "shop vetements", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("tenues-h-training.jpg", :alt => "tenues h-training", class: " img-responsive")
  %a.left.carousel-control{"data-slide" => "prev", :href => "#theCarousel"}
    %i.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#theCarousel"}
    %i.glyphicon.glyphicon-chevron-right

.wrapper
  .container-fluid
.wrapper
  .container-fluid
    %hr.hr-grey

.wrapper
  .container-fluid
    .row
      .col-md-4.text-center
        = image_tag("image-shop-t-shirt-f.png", :alt => "Boutique : T-shirt femme", class: " img-responsive")
        %h3 T-shirt Femme
        %i 18 €
        %br
        %i XS-XXXL
        %br
        %span.marge_t10.btn.btn-contact#t-shirt_f{"data-target" => "#exampleModal", "data-toggle" => "modal", "data-whatever" => "T-shirt Femme", "data-message" => "T-shirt Femme", :type => "button"}
          COMMANDER
      .col-md-4.text-center
        = image_tag("image-site-shop-t-shirt-h.png", :alt => "Boutique : T-shirt homme", class: " img-responsive")
        %h3 T-shirt Homme
        %i 18 €
        %br
        %i XS-XXXL
        %br
        %span.marge_t10.btn.btn-contact#t-shirt_h{"data-target" => "#exampleModal", "data-toggle" => "modal", "data-whatever" => "T-shirt Homme", "data-message" => "T-shirt Homme", :type => "button"}
          COMMANDER
      .col-md-4.text-center
        = image_tag("Image-shop-sac.png", :alt => "Boutique : sac", class: " img-responsive")
        %h3 Sac
        %i 32 €
        %br
        %i Taille unique
        %br
        %span.marge_t10.btn.btn-contact#sac{"data-target" => "#exampleModal", "data-toggle" => "modal", "data-whatever" => "Sac", "data-message" => "Sac", :type => "button"}
          COMMANDER

#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Je commande :
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .container-fluid-fluid
          = simple_form_for(:form_partenaire, html: { class: 'form-horizontal' }) do |f|
            .form-inputs.text-center
              %ul.list-unstyled
                %li.barre
                  = f.select :status,  options_for_select(FormBoutique::STATUS), as: :radio_button, label: false, required: true
                %li.barre
                  &nbsp;
                %li.barre
                  = f.input :email, required: true, label: false, placeholder: "Votre adresse e-mail", autofocus: false
                %li.barre
                  = f.input :phone, required: true, label: false, placeholder: "Votre numéro de téléphone", autofocus: false
                %li.barre
                  = f.input :name, required: true, label: false, placeholder: "Nom / Raison sociale", autofocus: false
                %li.barre
                  .row
                    .col-md-4
                      = f.input :product, required: true, label: false, autofocus: false
                    .col-md-4
                      = f.select :size, options_for_select(FormBoutique::SIZE), as: :radio_button, label: false, required: true
                    .col-md-4.text-center
                      %ul.list-inline
                        %li
                          %input#minus{:field => "quantity", :type => "button", :value => "-"}/
                        %li
                          = f.input :quantity, label: false, as: :integer, :class => "qty", input_html: { :value => 1, min: '1' }
                        %li
                          %input#plus{:field => "quantity", :type => "button", :value => "+"}/
          #okidokki
          #notoki
      .modal-footer
        %span#button-boutique.btn.btn-contact{:type => "button", "data-style" => "expand-left" }
          %span.ladda-label Je passe commande
