- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper
  .container
    %section
      %h1.text-left.text-uppercase
        BOUTIQUE
        %span .

#theCarousel.carousel.slide.multi-item-carousel
  .carousel-inner
    .item.active
      .col-xs-4
        = image_tag("shop-mixte-sweat-vetements.jpg", :alt => "shop : mixtes weat vetements", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-femme-vetements-veste-sac.jpg", :alt => "shop : femme vetements, veste et sac", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-femme-t-shirt-top.jpg", :alt => "shop : femme t-shirt et top", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("sac-h-training.jpg", :alt => "Sac h-training", class: "img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-sac-t-shirts-homme.jpg", :alt => "shop : sac, t-shirts homme", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-sac-t-shirt-homme-2.jpg", :alt => "shop : sac, t-shirts homme", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("dressing-h-training-sportif.jpg", :alt => "dressing h-training pour le sportif", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-vetements.jpg", :alt => "shop vetements", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("shop-vetements-2.jpg", :alt => "shop vetements", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("tenues-h-training.jpg", :alt => "tenues h-training", class: " img-responsive")
  %a.left.carousel-control{"data-slide" => "prev", :href => "#theCarousel"}
    %i.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#theCarousel"}
    %i.glyphicon.glyphicon-chevron-right

.wrapper
  .container
.wrapper
  .container
    %hr.hr-grey

.wrapper
  .container
    .row
      .col-md-4.text-center
        = image_tag("image-shop-t-shirt-f.png", :alt => "Boutique : T-shirt femme", class: " img-responsive")
        %h3 T-shirt Femme
        %i S/M/L
        %br
        = link_to(boutique_path(anchor: 'boutique'), title: "Je commande") do
          %span.btn.btn-contact#t-shirt_f{:type => "button"}
            Je commande
      .col-md-4.text-center
        = image_tag("image-site-shop-t-shirt-h.png", :alt => "Boutique : T-shirt homme", class: " img-responsive")
        %h3 T-shirt Homme
        %i S/M/L
        %br
        = link_to(boutique_path(anchor: 'boutique'), title: "Je commande") do
          %span.btn.btn-contact#t-shirt_h{:type => "button"}
            Je commande
      .col-md-4.text-center
        = image_tag("Image-shop-sac.png", :alt => "Boutique : sac", class: " img-responsive")
        %h3 Sac
        %i Taille unique
        %br
        = link_to(boutique_path(anchor: 'boutique'), title: "Je commande") do
          %span.btn.btn-contact#sac{:type => "button"}
            Je commande

.wrapper
  .container
.wrapper
  .container
    %hr.hr-grey

.wrapper.service-contact
  .container
    .row
      .col-md-6.col-md-offset-3#boutique
        = simple_form_for(:form_boutique, html: { class: 'form-horizontal' }) do |f|
          .form-inputs.text-center
            %ul.list-unstyled
              %li.barre
                = f.select :status,  options_for_select(FormService::STATUS), as: :radio_button, selected: "Large", label: false, required: true
              %li.barre
                = f.input :email, required: true, label: false, placeholder: "Votre adresse e-mail", autofocus: false
              %li.barre
                = f.input :phone, required: true, label: false, placeholder: "Votre numéro de téléphone", autofocus: false
              %li.barre
                = f.input :name, required: true, label: false, placeholder: "Nom / Raison sociale", autofocus: false
              %li.barre
                = f.input :message, label: false, required: false, as: :text, placeholder: "Votre commande (produit, quantité, taille...)", input_html: {rows: 4}
              %li.barre
                &nbsp;
              %li.barre
                %span#button-services.btn.btn-contact{:type => "button", "data-style" => "expand-left" }
                  %span.ladda-label Je passe commande
              #okidokki
              #notoki
