- content_for :title do
  Contact | Entrer en contact avec H-training
- content_for :meta do
  %meta{:content => "Entrer en contact avec H-training", :name => "description"}/
  %meta{:content => "contact", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.container.service-contact
  .text-center
    .row
      .col-md-4
        %h2{style: "display:none;"} envoyer un message
        = image_tag("envoyer-un-message.png", :alt => "envoyer un message", style: "width:100%")
      .col-md-4.col-md-offset-2
        %h2{style: "display:none;"} prendre un rdv
        = image_tag("prendre-un-rdv.png", :alt => "prendre un rdv", style: "width:100%")
    .row
      .col-md-6
        = simple_form_for(:form_service, html: { class: 'form-horizontal' }) do |f|
          .form-inputs.text-center
            %ul.list-unstyled
              %li.barre.text-left
                = f.select :status,  options_for_select(FormService::STATUS), as: :radio_button, label: false, required: false
              %li.barre
                &nbsp;
              %li.barre
                = f.input :email, required: true, label: false, placeholder: "Votre adresse e-mail", autofocus: false
              %li.barre
                = f.input :phone, required: false, label: false, placeholder: "Votre numéro de téléphone", autofocus: false
              %li.barre
                = f.input :name, required: true, label: false, placeholder: "Nom / Raison sociale", autofocus: false
              %li.barre
                = f.input :message, label: false, placeholder: "Précisez le type d’offre et les informations que vous jugerez utiles afin que l’on se rapproche au plus près de vos besoins (nombre de personnes concernées, disponibilité, fréquence d'entraînement hebdomadaire, durée d’engagement…)", required: false, as: :text, input_html: {rows: 4}
              %li.barre
                &nbsp;
              %li.barre.text-right
                %span#button-service.btn.btn-contact{:type => "button", "data-style" => "expand-left" }
                  %span.ladda-label Envoyer
              #okidokki
              #notoki
      .col-md-6
        = image_tag("https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/84140287_2624039004374044_5750217849289310208_o.jpg?_nc_cat=110&_nc_sid=6e5ad9&_nc_ohc=Q4Ma0hmBJIoAX93lYmS&_nc_ht=scontent-cdg2-1.xx&oh=bf04a3ab00ae7875a7d207b5f1079234&oe=5ED896F4", :alt => "Facebook cover", style: "width:100%")
        .reserver
          #fb-root
            %script{:async => "", :crossorigin => "anonymous", :defer => "defer", :src => "https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v7.0"}
            .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/h.training.fr/", "data-layout" => "button_count", "data-share" => "true", "data-size" => "large", "data-width" => ""}
          .btn-reserve
            = link_to("https://fb.com/book/h.training.fr/", title: "Prendre RDV sur Facebook", target:"_blank") do
              %span.btn{:type => "button", "data-style" => "expand-left" }
                %span.ladda-label Réserver

.wrapper1
  %hr.hr-grey

.container
  .row
    .col-md-4
      %h2{style: "display:none;"} contact
      = image_tag("contact.png", :alt => "contact", style: "width:100%")
  .row.vcenter
    .col-sm-4
      %h4
        %i.fas.fa-phone
      %ul.list-unstyled
        %li +33 6 58 10 45 68
      %h4
        %i.fas.fa-at
      %ul.list-unstyled
        %li
          = link_to("mailto:amandine@h-training.fr", title: "amandine@h-training.fr") do
            amandine@h-training.fr
      %h4
        %i.far.fa-envelope
      %ul.list-unstyled
        %li H-TRAINING
        %li Atlantic Stadium Multisports
        %li 24 Avenue Paul Langevin
        %li 17180 Perigny
      = image_tag("atlantic-stadium-multisports-h-training.jpg", :alt => "Atlantic Stadium Multisports", style: "max-width:100%")
    .col-sm-8#maps
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "508", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2763.4141543340174!2d-1.0939237844190357!3d46.162410879115434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48014d9ce9ef1733%3A0xc8abe0e18d00cfeb!2s24+Avenue+Paul+Langevin%2C+17180+Perigny!5e0!3m2!1sfr!2sfr!4v1524818603378", :style => "border:0", :width => "100%"}

.wrapper
  .container-fluid

.wrapper1
  %hr.hr-grey

.wrapper
  .container-fluid
    .row
      .col-md-10.col-md-offset-1
        %ul.row.text-center.list-unstyled{:role => "tablist"}
          %li.col-md-4.active.marge_b30{:role => "presentation"}
            %a{"aria-controls" => "inscription", "data-toggle" => "tab", :href => "#inscription", :role => "tab"}
              %span.btn.btn-faq
                %i.fas.fa-file-signature
                &nbsp;
                Inscription et engagement
          %li.col-md-4.marge_b30{:role => "presentation"}
            %a{"aria-controls" => "services", "data-toggle" => "tab", :href => "#services", :role => "tab"}
              %span.btn.btn-faq
                %i.fas.fa-rocket
                &nbsp;
                Services
          %li.col-md-4.marge_b30{:role => "presentation"}
            %a{"aria-controls" => "entrainement", "data-toggle" => "tab", :href => "#entrainement", :role => "tab"}
              %span.btn.btn-faq
                %i.fas.fa-dumbbell
                &nbsp;
                Séances d’entraînement
          %li.col-md-4.marge_b30{:role => "presentation"}
            %a{"aria-controls" => "tarifs", "data-toggle" => "tab", :href => "#tarifs", :role => "tab"}
              %span.btn.btn-faq
                %i.fas.fa-coins
                &nbsp;
                Tarifs et Moyens de paiement
          %li.col-md-4.marge_b30{:role => "presentation"}
            %a{"aria-controls" => "centre", "data-toggle" => "tab", :href => "#centre", :role => "tab"}
              %span.btn.btn-faq
                %i.fas.fa-home
                &nbsp;
                Le centre d’entraînement
          %li.col-md-4.marge_b30{:role => "presentation"}
            %a{"aria-controls" => "boutique", "data-toggle" => "tab", :href => "#boutique", :role => "tab"}
              %span.btn.btn-faq
                %i.fas.fa-shopping-cart
                &nbsp;
                Boutique
    .container
      .tab-content
        #inscription.tab-pane.active{:role => "tabpanel"}
          %h4 Comment s'inscrire à l’un des services ?
          Choisissez votre service dans la rubrique “Services” du site internet et cliquez sur “Contactez-nous” afin de mentionner les informations qui nous seront nécessaires à la compréhension de vos besoins. Les informations resteront confidentielles mais sont indispensables. Nous vous contacterons par la suite. Cette prise de contact n’engage pas de contrat. Le contrat d’adhésion sera effectif uniquement après le règlement.
          %br
          %br
          %h4 Quels sont les documents nécessaires lors de mon adhésion ?
          Aucun, dans la plupart des cas. Nous vous transmettons un dossier lors de notre premier échange dans lequel se trouvent des documents à remplir et signer. Un certificat médical vous sera demandé si les réponses au questionnaire de santé le nécessitent, ou dans le cas d’une grossesse ou pour l’adhérent mineur.
          %br
          %br
          %h4 Y a-t-il un engagement si je suis un sportif individuel ?
          Non. Vous avez souscrit à un nombre de séances jusqu’à la fin du mois, mais il n’y a aucune reconduction automatique pour le mois suivant. H-TRAINING vous laissera toujours le choix d’être ici.
          %br
          %br
          %h4 Ai-je la possibilité de solliciter ponctuellement les services H-TRAINING ?
          H-TRAINING propose des services sur-mesure. Il est tout à fait envisageable de venir occasionnellement pour des stages courts ou de solliciter la structure pour un événement unique.
          %br
          %br
          %h4 Puis-je changer de formule en cours d’année ? (Basic, Bronze,Argent..)
          Oui il est tout à fait possible de moduler sa formule à la fin du mois pour le mois suivant. Il est aussi possible en cours de mois d’ajouter un service ++. Si tel est le cas, vous procéderez à un paiement immédiat pour ce service supplémentaire.
          %br
          %br
          %h4 Puis-je résilier mon engagement ?
          Si vous vous trouvez dans l’une de ces conditions, alors il vous sera possible de résilier l’engagement : décès, accident grave, incapacité physique totale ou partielle sur présentation d’un certificat médical, mutation professionnelle définitive sur présentation d’un justificatif, manquement grave par H-TRAINING à ses obligations  Voir les modalités dans les CGV
        #services.tab-pane{:role => "tabpanel"}
          %h4 À qui s’adressent les services ?
          H-Training s’efforce de développer sa gamme de services pour pouvoir s’adresser à tous :
          %ul
            %li H-PERF s’adresse aux sportifs compétiteurs (suivi individualisé), avec un service spécifique  pour les individuels en période de réathlétisation suite à une blessure (H-REHAB).
            %li H-PRO s’adresse aux clubs, tout type de sport confondu, souhaitant externaliser une partie de son staff grâce à une formule sur-mesure.
            %li H-2O est un service qui concerne chacun d’entre nous (compétiteurs ou non) pour se renforcer et travailler sa condition physique en petit groupe.
            %li Toujours en groupe, mais avec des créneaux privatisés, H-&CO s’adresse aux entreprises qui souhaitent offrir à ses salariés des séances de sport encadrés.
          %br
          %br
          %h4 Peut-on bénéficier des services H-TRAINING sans être un sportif compétiteur ?
          Nous avons ouvert des créneaux fixes dans la semaine pour les sportifs non-compétiteurs : c’est le service H-(2)O (améliorer sa condition physique). Les détails sur le site internet dans la rubrique “Services”
          %br
          %br
          %h4 Si je suis une entreprise, quelle service m’est le plus adaptée ?
          H-&Co. Vous trouverez des informations utiles dans la rubrique “services” du site internet, et un bouton pour nous contacter. Nous vous proposerons la formule la plus adaptée à vos besoins.
          %br
          %br
          %h4 Les mineurs peuvent-ils venir s’entraîner à H-Training ?
          Les personnes de 12 à 18 ans peuvent prétendre aux prestations s’ils sont accompagnés de leur représentant légal et munis d’un certificat médical à l’inscription. Une autorisation parentale sera alors demandé.
          %br
          %br
          %h4 Est-il possible d’avoir un suivi à distance ?
          Non, exception faite pour nos adhérents en déplacement pour un stage ou une compétition.
          %br
          %br
          %h4 Puis-je bénéficier d’une séance d’essai ?
          Non. Mais nous tâchons de faire découvrir la structure au plus grand nombre à travers des évènements ponctuels. Restez connectés sur nos réseaux (Facebook, Instagram)
        #entrainement.tab-pane{:role => "tabpanel"}
          %h4 Quels sont les horaires d’entraînement ?
          Les horaires d'entraînements sont modulables chaque semaine pour les adhérents des services individuels (H-PERF, H-REHAB) en accord avec H-Training. Pour les services H-PRO, H-2O et H-&CO, les créneaux sont fixes dans la semaine. Ils ont été déterminés en accord commun à l’inscription.
          %br
          %br
          %h4 Comment s’organise un entraînement ?
          Lorsque le sportif se rend à sa séance, il a généralement connaissance de sa routine d’échauffement, puis l’entraîneur le prend en charge complètement pendant la séance, qui dure environ 1 heure. Elle est composé d’une partie échauffement / mobilité, une partie gainage puis suivies du corps de la séance avec un petit extra à la fin pour les plus courageux (dans la plupart des cas).
        #tarifs.tab-pane{:role => "tabpanel"}
          %h4 Quel est le tarif pour H-PRO ?
          Le tarif pour le service H-PRO dépend du nombre de créneaux par semaine privatisés par le club ainsi que du nombre de joueurs y concernés.
          %br
          %br
          %h4 Comment utiliser une carte cadeau ?
          Une carte cadeau peut être commandée sur le site Internet ou le compte Instagram. Elle doit être utilisée dans les 12 mois suivant l’achat et peut être utilisée en plusieurs fois.
          %br
          %br
          %h4 Peut-on payer un service en plusieurs fois ?
          Non, le versement se fait en une fois, à compter de la réception de la facture. Se référer aux CGV pour plus d’informations sur les modalités de paiement.
          %br
          %br
          %h4 Quels sont les moyens de paiement autorisés ?
          Il est possible de payer par virement bancaire, en chèque, en espèces ou par carte bancaire via les réseaux LYDIA et PAYPAL (plateformes sécurisées).
          %br
          %br
          %h4 Puis-je me faire rembourser si j’ai manqué une séance ?
          Une fois réservée toute séance entraîne un engagement de l’adhérent. Elle ne peut être annulée et déplacée dans le mois seulement si la demande a été faite avant le vendredi de la semaine qui précède.
          Toute demande de modification ou annulation survenue après, entraine la facturation de la globalité de la séance, sauf cas de force majeure (voir CGV).
        #centre.tab-pane{:role => "tabpanel"}
          %h4 Où se situe la salle H-Training ?
          H-Training se situe 24 Avenue Paul Langevin, 17180 Perigny à l’intérieur de l’Atlantic Stadium Multisports.
          %br
          %br
          %h4 De qui est composée l’Équipe H-TRAINING ?
          Une préparatrice physique, deux kinésitherapeutes, un nutritionniste, un consultant nutrition
          %br
          %br
          %h4 Quel est le matériel utilisé dans la structure ?
          H-TRAINING met un point d’honneur sur la qualité du matériel. Il est adapté pour tous et est très complet : barres, haltères, élastiques, rameurs, matériel de récupération, de rééducation, wattbike. Il ne cesse de se développer et devrait proposer prochainement bien des surprises.
          %br
          %br
          %h4 À combien s’entraînent les sportifs au sein de la structure ?
          L’accueil au sein de la structure est limité à 6 personnes par séance, que ce soit des individuels ou un groupe.
          %br
          %br
          %h4 J’ai un projet Olympique ou de Haut Niveau, la structure H-TRAINING peut-elle m’accompagner ?
          C’est fait pour vous ! Le projet a été créé pour accompagner de façon pluridisciplinaire des sportifs avec des objectifs majeurs. Depuis sa création, nous avons eu le plaisir déjà d’accompagner 5 projets Olympiques.
          %br
          %br
          %h4 La structure est-elle adaptée pour des athlètes paralympiques ?
          Le sportif blessé / handicapé est avant tout un sportif, qui a effectivement une contrainte avec laquelle nous devons nous adapter. H-TRAINING n’a pas de label “Sport Adapté” mais il est évident que chacun sera le bienvenu ici. La structure est aux normes ERP et accessible aux personnes handicapées.
        #boutique.tab-pane{:role => "tabpanel"}
          %h4 Quels sont les modes de livraison possible ?
          La livraison est possible à domicile uniquement en France métropolitaine, sous 30 jours ouvrables.
          %br
          %br
          %h4 Est-il possible d’échanger ou retourner un produit ?
          Le retour d’un produit est possible en cas de produits non-conformes (ne correspondant pas en termes de quantité ou de référence à la commande passée), et/ou endommagés à la réception et/ou défectueux. Le Client peut solliciter son remboursement, qui sera effectif à réception de l’article non-conforme. Les frais de port du renvoi restant à sa charge dans le cas d’une livraison.
