- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper.image-effectif
  .container-fluid
    %section
      %br
      %br
      %br
      %br
      %h1.text-left.text-uppercase
        %span L'Effectif
        %span .
      %br
      %p.text-left.font-italic.white.text-justify
        Sportif(ve)s de Haut Niveau et sportifs amateurs, du sport de contact aux épreuves d'endurance, des hommes, des femmes, des projets Olympiques et des stages intensifs d'intersaison, les projets se mélangent et ne se ressemblent pas, leurs porteurs non plus mais ils ont tous un même objectif : être meilleur qu'hier.

.wrapper
  .container-fluid
.wrapper
  .container-fluid
    #athletes
      .row
        .col-md-4
          %h2{style: "display:none;"} athletes
          = image_tag("athletes.png", :alt => "Titre section athlètes", style: "width:100%")

.wrapper
  .container-fluid.bloc-effectif
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "actuels", "data-toggle" => "tab", :href => "#actuels", :role => "tab"} Sportifs actuels
      %li{:role => "presentation"}
        %a{"aria-controls" => "anciens", "data-toggle" => "tab", :href => "#anciens", :role => "tab"} Anciens sportifs
    .tab-content
      #actuels.tab-pane.active{:role => "tabpanel"}
        .row.row-zoom
          .col-zoom
            .zoom
              = image_tag("rose-alaoui-football.jpg", :alt => "Rose Alaoui, Football", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Rose Alaoui
                %h5 Football
          .col-zoom
            .zoom
              = image_tag("AMDEE-Montserrat-Rugby.jpg", :alt => "Montserrat Amedee, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Montserrat Amedee
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom#anastassiou
              = image_tag("Lucie-Anastassiou---skeet.jpg", :alt => "Lucie Anastassiou, Skeet", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Lucie Anastassiou
                %h5 Skate - Tir
          .col-zoom
            .zoom#anastassiou
              = image_tag("Romain-BAUDELET-RUGBY.jpg", :alt => "Romain Baudelet, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Romain Baudelet
                %h5 Rugby
          .col-zoom
            .zoom
              = image_tag("CHARLY-BELLOIR-RUGBY.jpg", :alt => "Charly Belloir, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Charly Belloir
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("BERTRAND-Marc-Rugby.jpg", :alt => "Marc Bertrand, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Marc Bertrand
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("Mathieu-BLU-PADEL.jpg", :alt => "Mathieu Blu, Padel", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Mathieu Blu
                %h5 Padel - Tennis
        .row.row-zoom
          .col-zoom
            .zoom
              = image_tag("BOUVARD-Iban-Ultimate-Frisbee.jpg", :alt => "Iban Bouvard, Ultimate Frisbee", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Iban Bouvard
                %h5 Ultimate Frisbee
          .col-zoom
            .zoom
              = image_tag("XAVIERE-BRIATTE-RUGBY.jpg", :alt => "Xavier Briatte, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Xavier Briatte
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("Simon-CALAND--GOLF.jpg", :alt => "Simon Caland, Golf", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Simon Caland
                %h5 Golf
          .col-zoom
            .zoom
              = image_tag("CHEVAUCHEE-Thomas.jpg", :alt => "Thomas Chevauchée", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Thomas Chevauchée
                %h5
          .col-zoom
            .zoom
              = image_tag("ANTOINE-CORNIC-VOILE.jpg", :alt => "Antoine Cornic, Voile", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Antoine Cornic
                %h5 Voile
          .col-zoom
            .zoom
              = image_tag("Paul-DAGAULT-VOILE.jpg", :alt => "Paul Dagault, Voile", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Paul Dagault
                %h5 Voile
          .col-zoom
            .zoom
              = image_tag("Hugo-DARRAIDOU-RUGBY.jpg", :alt => "Hugo Darraidou, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Hugo Darraidou
                %h5
                  Rugby à
                  %strong XV
        .row.row-zoom
          .col-zoom
            .zoom
              = image_tag("CHARLES-DELPIERRE-RUGBY.jpg", :alt => "Charles Delpierre, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Charles Delpierre
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("KEVIN-DESMIERS-RUGBY.jpg", :alt => "Kevin Desmiers, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Kevin Desmiers
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("MATTHIEU-DORIN-RUGBY.jpg", :alt => "Mathieu Dorin, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Mathieu Dorin
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("Raphael-DOUARD-FOOTBALL.jpg", :alt => "Raphael Douard, Football", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Raphael Douard
                %h5 Football
          .col-zoom
            .zoom
              = image_tag("Martin-DUGAZ---RUGBY-XV.jpg", :alt => "Martin Dugaz, Rugby à XV", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Martin Dugaz
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("DYLAN-ETIEN-RUGBY.jpg", :alt => "Dylan Etien, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Dylan Etien
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom#fiorentino
              = image_tag("ROHET-FIORENTINO-RUGBY.jpg", :alt => "Rohet Fiorentino, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Rohet Fiorentino
                %h5
                  Rugby à
                  %strong XV
        .row.row-zoom
          .col-zoom
            .zoom
              = image_tag("Cecile-FREMONT---BREAK-DANCE.jpg", :alt => "Cécile Fremont, Break Dance", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Cécile Fremont
                %h5 Break Dance
          .col-zoom
            .zoom
              = image_tag("MATHIS-GARNIER-RUGBY.jpg", :alt => "Mathis Garnier, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Mathis Garnier
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("ANAIS-GARREAU-RUGBY.jpg", :alt => "Anaïs Garreau, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Anaïs Garreau
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("Ashventi-GIORGADZE-RUGBY.jpg", :alt => "Ashventi Giorgadze, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Ashventi Giorgadze
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("MATHIEU-GIRAUD-RUGBY.jpg", :alt => "Mathieu Giraud, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Mathieu Giraud
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("GABRIEL-GUEMAS-HANDBALL.jpg", :alt => "Gabriel Guemas, Handball", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Gabriel Guemas
                %h5 Handball
          .col-zoom
            .zoom
              = image_tag("GUERIN-Lina-Rugby.jpg", :alt => "Lina Guerin, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Lina Guerin
                %h5
                  Rugby à
                  %strong XV
        .row.row-zoom
          .col-zoom
            .zoom
              = image_tag("Adrien-LEIF-RUGBY-a-XV.jpg", :alt => "Adrien Leif, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Adrien Leif
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("Flore-MAGNIER-Cascadeuse.jpg", :alt => "Flore Magnier, Cascadeuse", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Flore Magnier
                %h5
                  Cascadeuse
          .col-zoom
            .zoom
              = image_tag("Lancelot-LUTEAU-Rugby-a-XV.jpg", :alt => "Lancelot Luteau, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Lancelot Luteau
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("Thomas-MAGNOUX--RUGBY.jpg", :alt => "Thomas Magnoux, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Thomas Magnoux
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("Kais-MATHE---FRISBEE.jpg", :alt => "Kais Mathe, Frisbee", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Kais Mathe
                %h5 Frisbee
          .col-zoom
            .zoom
              = image_tag("XIMUN-MATHIS-PELOTE-BASQUE.jpg", :alt => "Ximun Mathis, Pelote Basque", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Ximun Mathis
                %h5 Pelote Basque
          .col-zoom
            .zoom
              = image_tag("CARLA-MAYON-TOUCH-RUGBY.jpg", :alt => "Carla Mayon, Touch Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Carla Mayon
                %h5 Touch Rugby
        .row.row-zoom
          .col-zoom
            .zoom
              = image_tag("MAXIME-MAZARD-VOILE-LASER-STANDARD.jpg", :alt => "Maxime Mazard, Voile - Laser - STD", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Maxime Mazard
                %h5 Voile - Laser - STD
          .col-zoom
            .zoom#merceron
              = image_tag("ELIOT-MERCERON-VOILE-LASER-STANDARD.jpg", :alt => "Eliot Merceron, Voile - Laser - STD", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Eliot Merceron
                %h5 Voile - Laser - STD
          .col-zoom
            .zoom#michon
              = image_tag("Pernelle-MICHON---VOILE.jpg", :alt => "Pernelle Michon, Voile - Laser - Radial", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Pernelle Michon
                %h5 Voile - Laser - Radial
          .col-zoom
            .zoom
              = image_tag("REMI-MOUSSEAU-RUGBY.jpg", :alt => "Remi Mousseau, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Remi Mousseau
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("Laure-MULLER-BASKET.jpg", :alt => "Laure Muller, Basket", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Laure Muller
                %h5 Basket
          .col-zoom
            .zoom
              = image_tag("OKEMBA-Seraphine-Rugby.jpg", :alt => "Séraphine Okemba, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Séraphine Okemba
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("THIBAUD-PELLETIER-RUGBY.jpg", :alt => "Thibaud Pelletier, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Thibaud Pelletier
                %h5
                  Rugby à
                  %strong XV
        .row.row-zoom
          .col-zoom
            .zoom
              = image_tag("LAURENT-PESTEL-RUGBY.jpg", :alt => "Laurent Pestel, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Laurent Pestel
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("MARVIN-PIVERT-RUGBY.jpg", :alt => "Marvin Pivert, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Marvin Pivert
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("MAXIME-PINAUD-RUGBY.jpg", :alt => "Maxime Pinaud, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Maxime Pinaud
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("Benjamin-POSPE-FOOTBALL.jpg", :alt => "Benjamin Pospe, Football", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Benjamin Pospe
                %h5
                  Football
          .col-zoom
            .zoom
              = image_tag("Camille-POUGET.jpg", :alt => "Camille Pouget, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Camille Pouget
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("ELIE-PUYO-RUGBY.jpg", :alt => "Elie Puyo, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Elie Puyo
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("Adrien-SALLET-RUGBY.jpg", :alt => "Adrien Sallet, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Adrien Sallet
                %h5
                  Rugby à
                  %strong XV
        .row.row-zoom
          .col-zoom
            .zoom
              = image_tag("Ladislas-SAUREAU-FOOTBALL.jpg", :alt => "Ladislas Saureau, Football", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Ladislas Saureau
                %h5 Football
          .col-zoom
            .zoom
              = image_tag("Marius-SAUSSEREAU-FOOTBALL.jpg", :alt => "Marius Saussereau, Football", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Marius Saussereau
                %h5 Football
          .col-zoom
            .zoom
              = image_tag("PIERRE-SOUCHAUD-RUGBY.jpg", :alt => "Pierre Souchaud, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Pierre Souchaud
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("SPAGNOL-Martin-Rugby.jpg", :alt => "Martin Spagnol, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Martin Spagnol
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("Alexis-TAHET,-FOOTBALL.jpg", :alt => "Alexis Tahet, Football", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Alexis Tahet
                %h5 Football
          .col-zoom
            .zoom
              = image_tag("FABIEN-TEXIER.jpg", :alt => "Fabien Texier", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Fabien Texier
                %h5
                  Rugby à
                  %strong XV
          .col-zoom
            .zoom
              = image_tag("Samuel-THEBAULT-Rugby-XV.jpg", :alt => "Samuel Thebault, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Samuel Thebault
                %h5
                  Rugby à
                  %strong XV
        .row.row-zoom
          .col-zoom
            .zoom
              = image_tag("Antoine-TRONCHE-Tennis.jpg", :alt => "Antoine Tronche, Tennis", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Antoine Tronche
                %h5
                  Tennis

.wrapper
  .container-fluid
    %hr.hr-grey

.wrapper
  .container-fluid
    #sportif
      .row
        .col-md-4
          %h2{style: "display:none;"} Staf sportif
          = image_tag("staff-sportif.png", :alt => "Titre section staf sportif", style: "width:100%")
.wrapper
  .container-fluid.bloc-effectif
    .row.row-zoom
      .col-zoom
        .zoom
          = image_tag("amandine-hostynek-staff-sportif.jpg", :alt => "Amandine Hostynek, responsable de la préparation physique", :class => "img-responsive")
          .bloc-nom.text-center
            %h4 Amandine Hostynek
            %h5 Préparatrice Physique
      .col-zoom
        .zoom
          = image_tag("morgan-preparateur-physique.jpg", :alt => "Morgan, préparation physique", :class => "img-responsive")
          .bloc-nom.text-center
            %h4 Morgan
            %h5 Préparateur Physique

.wrapper
  .container-fluid
    #medical
      .row
        .col-md-4
          %h2{style: "display:none;"} Staf médical
          = image_tag("staff-medical.png", :alt => "Titre section staf médical", style: "width:100%")
.wrapper
  .container-fluid.bloc-effectif
    .row.row-zoom
      .col-zoom
        .zoom
          = image_tag("debien-arthur-nutritionniste.jpg", :alt => "Arthur Debien, Nutritionniste", :class => "img-responsive")
          .bloc-nom.text-center
            %h4 Arthur Debien
            %h5 Nutritionniste
      .col-zoom
        .zoom
          = image_tag("guignot-sandra-gym-douce-nutritionniste.jpg", :alt => "Sandra Guignot, Gym Douce et Nutritionniste", :class => "img-responsive")
          .bloc-nom.text-center
            %h4 Sandra Guignot
            %h5 Gym Douce et Nutritionniste
      .col-zoom
        .zoom
          = image_tag("guilbert-romain-kinesitherapeute.jpg", :alt => "Romain Guilbert, Kinésithérapeute", :class => "img-responsive")
          .bloc-nom.text-center
            %h4 Romain Guilbert
            %h5 Kinésithérapeute
      .col-zoom
        .zoom
          = image_tag("huvelin-jerome-kinesitherapeute.jpg", :alt => "Jérôme Huvelin, Kinésithérapeute", :class => "img-responsive")
          .bloc-nom.text-center
            %h4 Jérôme Huvelin
            %h5 Kinésithérapeute
