- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper
  .container
    %section
      %h1.text-left.text-uppercase
        Effectif
        %span .
      %h2.text-left.title-section#athletes
        Athlètes

.wrapper
  .container.bloc-effectif
    .row
      .col-md-2.col-xs-4
        = image_tag("alexis-tahet-football.png", :alt => "Alexis Tahet novembre 2019", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("lucie-anastassiou-skeet-olympique.png", :alt => "Lucie Anastassiou septembre 2019", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("carla-mayon-touch-rugby.png", :alt => "Carla Mayon juillet à novembre 2019", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("eliot-merceron-voila-laser-std.png", :alt => "Eliot Merceron juillet 2019", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("xavier-briatte-rugby.png", :alt => "Xavier Briatte juillet 2019", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("gabriel-guemas-handball.png", :alt => "Gabriel Guemas juin 2019", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("lancelot-luteau-rugby.png", :alt => "Lancelot Luteau juin 2019", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("samuel-thebault-rugby.png", :alt => "Samuel Thebault avril 2019", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("camille-pouget-rugby.png", :alt => "Camille Pouget mars 2019", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("maxime-mazard-voile-laser-std.png", :alt => "Maxime Mazard janvier 2019", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("christophe-r-militaire.png", :alt => "Christophe R. octobre 2018", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("john-mc-g-football-gaelique.png", :alt => "John Mc G. otobre 2018", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("ximun-mathis-pelote-basque.png", :alt => "Ximun Mathis septembre 2018", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("pernelle-michon-voila-laser-radial.png", :alt => "Pernelle Michon septembre 2018", :class => "img-responsive zoom")
      .col-md-2.col-xs-4
        = image_tag("maxime-bernard-padel-tennis.png", :alt => "Maxime Bernard juillet 2018", :class => "img-responsive zoom")

.wrapper
  .container
    %h2.text-left.title-section#temoignages
      Témoignages
    %br
    %br
    .container
      .row
        .col-md-8.col-md-offset-2
          #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "5", "data-target" => "#carousel-example-generic"}
              %li{"data-slide-to" => "6", "data-target" => "#carousel-example-generic"}
            / Wrapper for slides
            .carousel-inner{:role => "listbox"}
              .item.active
                = image_tag("temoignage-francois-herry.jpg", :alt => "Témoignage de François Herry", :class => "img-responsive")
              .item
                = image_tag("temoignage-lucie-anastassiou.jpg", :alt => "Témoignage de Lucie Anastassiou", :class => "img-responsive")
              .item
                = image_tag("temoignage-maxime-rochet.jpg", :alt => "Témoignage de Maxime Rochet", :class => "img-responsive")
              .item
                = image_tag("temoignage-maxime-bernard.jpg", :alt => "Témoignage de Maxime Bernard", :class => "img-responsive")
              .item
                = image_tag("temoignage-elodie-bld.jpg", :alt => "Témoignage de Elodie Bld", :class => "img-responsive")
              .item
                = image_tag("temoignage-pernelle-michon.jpg", :alt => "Témoignage de Pernelle Michon", :class => "img-responsive")
              .item
                = image_tag("temoignage-dan-bradley.jpg", :alt => "Témoignage de Dan Bradley", :class => "img-responsive")
            %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
              %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
              %span.sr-only Previous
            %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
              %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
              %span.sr-only Next

.wrapper
  .container
    %hr.hr-grey

.wrapper
  .container.bloc-effectif
    %h2.text-left.text-uppercase.title-section
      Staff
    .container
      %h2.text-left#sportif
        Sportif
      .row
        .col-md-2.col-xs-4
          = image_tag("amandine-hostynek-responsable-preparation-physique.png", :alt => "Amandine Hostynek la responsable de la préparation physique", :class => "img-responsive zoom")

    .container
      %h2.text-left#sportif
        Médical
      .row
        .col-md-2.col-xs-4
          = image_tag("romain-kinesitherapeute.png", :alt => "Romain Kinésithérapeute", :class => "img-responsive zoom")
