- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper.image-effectif
  .container-fluid
    %section
      %br
      %br
      %br
      %br
      %h1.text-left.text-uppercase
        %span L'Effectif
        %span .
      %br
      %p.text-left.font-italic.white.text-justify
        Sportif(ve)s de Haut Niveau et sportifs amateurs, du sport de contact aux épreuves d'endurance, des hommes, des femmes, des projets Olympiques et des stages intensifs d'intersaison, les projets se mélangent et ne se ressemblent pas, leurs porteurs non plus mais ils ont tous un même objectif : être meilleur qu'hier.

.wrapper
  .container-fluid
.wrapper
  .container-fluid
    #athletes
      .row
        .col-md-4
          = image_tag("athletes.png", :alt => "Titre section athlètes", style: "width:100%")

.wrapper
  .container-fluid.bloc-effectif
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "actuels", "data-toggle" => "tab", :href => "#actuels", :role => "tab"} Sportifs actuels
      %li{:role => "presentation"}
        %a{"aria-controls" => "anciens", "data-toggle" => "tab", :href => "#anciens", :role => "tab"} Anciens sportifs
    .tab-content
      #actuels.tab-pane.active{:role => "tabpanel"}
        .row
          .col-md-2.col-xs-4
            .zoom
              = image_tag("MATHIEU-GIRAUD-RUGBY.jpg", :alt => "Mathieu Giraud, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Mathieu Giraud
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("THIBAUD-PELLETIER-RUGBY.jpg", :alt => "Thibaud Pelletier, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Thibaud Pelletier
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("REMI-MOUSSEAU-RUGBY.jpg", :alt => "Remi Mousseau, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Remi Mousseau
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("PIERRE-SOUCHAUD-RUGBY.jpg", :alt => "Pierre Souchaud, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Pierre Souchaud
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("LUCIE-ANASTASSIOU-SKEET.jpg", :alt => "Lucie Anastassiou, Skeet", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Lucie Anastassiou
                %h5.red Skeet
          .col-md-2.col-xs-4
            .zoom
              = image_tag("SAMUEL-THEBAULT-RUGBY.jpg", :alt => "Samuel Thebault, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Samuel Thebault
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("SANDRINE-POULLAIN.jpg", :alt => "Sandrine Poullain", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Sandrine Poullain
          .col-md-2.col-xs-4
            .zoom
              = image_tag("ROHET-FIORENTINO-RUGBY.jpg", :alt => "Rohet Fiorentino, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Rohet Fiorentino
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("XAVIERE-BRIATTE-RUGBY.jpg", :alt => "Xavier Briatte, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Xavier Briatte
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("PERNELLE-MICHON-VOILE-LASER-RADIAL.jpg", :alt => "Pernelle Michon, Voile - Laser - Radial", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Pernelle Michon
                %h5.red Voile - Laser - Radial
          .col-md-2.col-xs-4
            .zoom
              = image_tag("MAXIME-MAZARD-VOILE-LASER-STANDARD.jpg", :alt => "Maxime Mazard, Voile - Laser - STD", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Maxime Mazard
                %h5.red Voile - Laser - STD
          .col-md-2.col-xs-4
            .zoom
              = image_tag("MATTHIEU-DORIN-RUGBY.jpg", :alt => "Mathieu Dorin, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Mathieu Dorin
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("LAURENT-PESTEL-RUGBY.jpg", :alt => "Laurent Pestel, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Laurent Pestel
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("KEVIN-DESMIERS-RUGBY.jpg", :alt => "Kevin Desmiers, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Kevin Desmiers
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("Louise-PASSE.jpg", :alt => "Louise Passe", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Louise Passe
          .col-md-2.col-xs-4
            .zoom
              = image_tag("ALEXIS-TAHET-FOOTBALL.jpg", :alt => "Alexis Tahet, Football", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Alexis Tahet
                %h5.red Football
          .col-md-2.col-xs-4
            .zoom
              = image_tag("XIMUN-MATHIS-PELOTE-BASQUE.jpg", :alt => "Ximun Mathis, Pelote Basque", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Ximun Mathis
                %h5.red Pelote Basque
          .col-md-2.col-xs-4
            .zoom
              = image_tag("HELENE-REVERDY.jpg", :alt => "Hélène Reverdy", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Hélène Reverdy
          .col-md-2.col-xs-4
            .zoom
              = image_tag("CAMILLE-POUGET-RUGBY.jpg", :alt => "Camille Pouget, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Camille Pouget
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("CHARLY-BELLOIR-RUGBY.jpg", :alt => "Charly Belloir, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Charly Belloir
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("ELIE-PUYO-RUGBY.jpg", :alt => "Elie Puyo, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Elie Puyo
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("DYLAN-ETIEN-RUGBY.jpg", :alt => "Dylan Etien, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Dylan Etien
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("ELIOT-MERCERON-VOILE-LASER-STANDARD.jpg", :alt => "Eliot Merceron, Voile - Laser - STD", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Eliot Merceron
                %h5.red Voile - Laser - STD
          .col-md-2.col-xs-4
            .zoom
              = image_tag("ANTOINE-CORNIC-VOILE.jpg", :alt => "Antoine Cornic, Voile", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Antoine Cornic
                %h5.red Voile
          .col-md-2.col-xs-4
            .zoom
              = image_tag("Adrien-SALLET-RUGBY.jpg", :alt => "Adrien Sallet, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Adrien Sallet
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("ANAIS-GARREAU-RUGBY.jpg", :alt => "Anaïs Garreau, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Anaïs Garreau
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("FABIEN-TEXIER.jpg", :alt => "Fabien Texier", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Fabien Texier
          .col-md-2.col-xs-4
            .zoom
              = image_tag("ANNE-BAUDELET.jpg", :alt => "Anne Baudelet", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Anne Baudelet
      #anciens.tab-pane{:role => "tabpanel"}
        .row
          .col-md-2.col-xs-4
            .zoom
              = image_tag("CARLA-MAYON-TOUCH-RUGBY.jpg", :alt => "Carla Mayon, Touch Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Carla Mayon
                %h5.red Touch Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("LANCELOT-LUTEAU-RUGBY.jpg", :alt => "Lancelot Luteau, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Lancelot Luteau
                %h5.red Rugby
          .col-md-2.col-xs-4
            .zoom
              = image_tag("MAXIME-PINAUD-RUGBY.jpg", :alt => "Maxime Pinaud, Rugby", :class => "img-responsive")
              .bloc-nom.text-center
                %h4 Maxime Pinaud
                %h5.red Rugby

.wrapper
  .container-fluid
    %hr.hr-grey

.wrapper
  .container-fluid
    #sportif
      .row
        .col-md-4
          = image_tag("staff-sportif.png", :alt => "Titre section staf sportif", style: "width:100%")
.wrapper
  .container-fluid.bloc-effectif
    .row
      .col-md-2.col-xs-4
        .zoom
          = image_tag("amandine-hostynek-staff-sportif.jpg", :alt => "Amandine Hostynek, responsable de la préparation physique", :class => "img-responsive")
          .bloc-nom.text-center
            %h4 Amandine Hostynek
            %h5.red Préparatrice Physique

.wrapper
  .container-fluid
    #medical
      .row
        .col-md-4
          = image_tag("staff-medical.png", :alt => "Titre section staf médical", style: "width:100%")
.wrapper
  .container-fluid.bloc-effectif
    .row
      .col-md-2.col-xs-4
        .zoom
          = image_tag("romain-staff-medical.jpg", :alt => "Romain, Kinésithérapeute", :class => "img-responsive")
          .bloc-nom.text-center
            %h4 Romain
            %h5.red Kinésithérapeute
