- content_for :title do
  H-training | Préparation physique et performance
- content_for :meta do
  %meta{:content => "Travaillez tous les facteurs de la performance et bénéficiez d’un service de preparation physique de haut niveau et personnalisé", :name => "description"}/
  %meta{:content => "Performance, preparation physique, objectif, optimisation, haut-niveau, sportifs, expertise, potentiel - physique, motivation, planification, analyse", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

  -# %meta{:content => "1039779756133318", :property => "fb:app_id"}/
  -# %meta{:content => "fr_FR", :property => "og:locale"}/
  -# %meta{:content => "Mettez votre boxon chez nous", :property => "og:title"}/
  -# %meta{:content => "article", :property => "og:type"}/
  -# %meta{:content => "https://www.meetboxon.com", :property => "og:url"}/
  -# %meta{:content => "https://s3-eu-west-1.amazonaws.com/boxon/Tag-Facebook_3.jpg", :property => "og:image"}/
  -# %meta{:content => "Libérez-vous de l'espace. Nous récupérons vos affaires, les stockons et les retournons sur demande. ✓ À partir de 5,99€/M ✓ Sécurisé ✓ Assurance incluse", :property => "og:description"}/
  -# %meta{:content => "Boxon, le garde-meuble est mort", :property => "og:site_name"}/

= render 'layouts/popup_footer'

.wrapper.image-training
  .container-fluid
    %section
      %h1.text-left.text-uppercase
        VOTRE STRUCTURE D'ACCOMPAGNEMENT
        %br
        À LA
        %span PERFORMANCE
        SPORTIVE
        %span .
      %h2.text-left.font-italic
        Optez pour une solution tout-en-un
      %br
      %br
      %br
      .text-left
        = link_to(contact_path, title: "Choisissez H-Training") do
          %span.btn.btn-contact-2{:type => "button"}
            Choisissez H-TRAINING

      %br
      %br
      %br
.wrapper
  .container-fluid
.wrapper
  .container-fluid
    %h2.text-center
      Tout ce dont vous avez besoin... Et même plus
.wrapper1
  .container-fluid
    %br
    %hr.text-center.hr-red
    %br
    %br
    .row
      .col-md-3.text-center
        %i.fa.fa-4x.fa-users.black
        %h3.padding-10 Travailler tous les facteurs de la performance
        %p Une équipe pluridisciplinaire pour vous encadrer vers l’atteinte de vos objectifs
      .col-md-3.text-center
        %i.fa.fa-4x.fa-key.black
        %h3.padding-10 S’entrainer dans des conditions optimales
        %p Du matériel de haut niveau et l’expertise des intervenants mis à votre disposition
      .col-md-3.text-center
        %i.fa.fa-4x.fa-chart-line.black
        %h3.padding-10 Avoir accès à un service sur-mesure
        %p Profitez du suivi individualisé pour atteindre vos objectif
      .col-md-3.text-center
        %i.fa.fa-4x.fa-sign-language.black
        %h3.padding-10 Evoluer dans un environnement favorable
        %p Appartenez à une communauté de sportifs pour entretenir votre motivation et dépasser vos limites

.wrapper1
  %hr.hr-grey
  %br
  %br
  %br
  .container-fluid
    %h2.text-center
    .row
      .col-md-3.marge_b30
        = image_tag("beach-session.jpg", :alt => "Beach session", :class => "img-responsive")
      .col-md-3.marge_b30
        = image_tag("rugby-preparation-physique.jpg", :alt => "Rugby préparation physique", :class => "img-responsive")
      .col-md-3.marge_b30
        = image_tag("rugby-step-up.jpg", :alt => "Rugby step-up", :class => "img-responsive")
      .col-md-3.marge_b30
        = image_tag("preparation-physique-olympique.jpg", :alt => "Préparation physique olympique", :class => "img-responsive")
      .col-md-3.marge_b30
        = image_tag("push-press.jpg", :alt => "Push press.jpg", :class => "img-responsive")
      .col-md-3.marge_b30
        = image_tag("medaille-athlete.jpg", :alt => "Médaille athlète", :class => "img-responsive")
      .col-md-3.marge_b30
        = image_tag("wattbike-preparation-physique.jpg", :alt => "Wattbike préparation physique", :class => "img-responsive")
      .col-md-3.marge_b30
        = link_to(media_path, title: "Accéder à la galerie photos") do
          = image_tag("athlete-sailing.jpg", :alt => "Athlète-sailing", :class => "img-responsive")

.wrapper
  %hr.hr-grey
  %br
  %br
  .container-fluid
    %h2.text-center.uppercase
      Témoignages
    .text-center
      %span
        %i.fas.fa-star.gold
        %i.fas.fa-star.gold
        %i.fas.fa-star.gold
        %i.fas.fa-star.gold
        %i.fas.fa-star.gold
    .row
      .col-md-3.text-center
        = link_to(effectif_path(anchor: 'michon'), title: "Pernelle Michon", style: "text-decoration: none;") do
          .bloc-temoignage
            .image-temoignage
              = image_tag("pernelle-michon-temoignage.jpg", :alt => "Témoignage de Pernelle Michon", :class => "img-circle")
            %section
              %h3.text-center
                Pernelle MICHON
              %h4.text-center
                Voile - Lasr Radial
                %br
                Équipe de France
              %p.text-justify.text-center
                Préparatrice physique professionnelle et extrêmement investie. Je la recommande fortement dans la préparation de projets sportifs.
      .col-md-3.text-center
        = link_to(effectif_path(anchor: 'anastassiou'), title: "Lucie Anastassiou", style: "text-decoration: none;") do
          .bloc-temoignage
            .image-temoignage
              = image_tag("lucie-anastassiou-temoignage.jpg", :alt => "Témoignage de Lucie Anastassiou", :class => "img-circle")
            %section
              %h3.text-center
                Lucie ANASTASSIOU
              %h4.text-center
                Tir - Skeet Olympique
                %br
                Équipe de France
              %p.text-justify.text-center
                Un coaching, une implication et un suivi au top pour m'accompagner vers mon objectif. Je recommande H-TRAINING sans hésiter !
      .col-md-3.text-center
        = link_to(effectif_path, title: "François Herry", style: "text-decoration: none;") do
          .bloc-temoignage
            .image-temoignage
              = image_tag("francois-herry-temoignage.jpg", :alt => "Témoignage de François Herry", :class => "img-circle")
            %section
              %h3.text-center
                François HERRY
              %h4.text-center
                Rugby
                %br
                Actuellement à Nevers (PROD2)
              %p.text-justify.text-center
                Préparatrice physique très technique, je recommande fortement. Elle m'a permis de progresser et de franchir un cap.
      .col-md-3.text-center
        = link_to(effectif_path(anchor: 'merceron'), title: "Eliot Merceron", style: "text-decoration: none;") do
          .bloc-temoignage
            .image-temoignage
              = image_tag("merceron-eliot-temoignage.jpg", :alt => "Témoignage de Eliot Merceron", :class => "img-circle")
            %section
              %h3.text-center
                Eliot MERCERON
              %h4.text-center
                Voile - Laser Standard
                %br
                Equipe nationale de Suisse
              %p.text-justify.text-center
                Un suivi professionnel personnalisé. Amandine est disponible et passionnée par son travail. C’est du haut niveau je recommande les yeux fermés !

    .row
      .col-md-10.col-md-offset-1
        .row
          .col-md-4.text-center
            = link_to(effectif_path(anchor: 'fiorentino'), title: "Maxime Rohet Fiorentino", style: "text-decoration: none;") do
              .bloc-temoignage
                .image-temoignage
                  = image_tag("fiorentino-max.temoignage.jpg", :alt => "Témoignage de Maxime Rohet Fiorentino", :class => "img-circle")
                %section
                  %h3.text-center
                    Maxime ROHET FIORENTINO
                  %h4.text-center
                    Rugby, RCPuilboreau
                    %br
                    Fédérale 3
                  %p.text-justify.text-center
                    Devoted and involved, Amandine has allowed le to take a step forward in my objectives. Personalized follow-up during and after training sessions. I recommend without hesitation.

          .col-md-4.text-center
            .bloc-temoignage
              .image-temoignage
                = image_tag("bradley-dan-temoignage.jpg", :alt => "Témoignage de Dan Bradley", :class => "img-circle")
              %section
                %h3.text-center
                  Dan BRADLEY
                %h4.text-center
                  Head of Strength and Performance
                  %br
                  Eastern Suburbs, Sydney, Australia, 2015-2018
                %p.text-justify.text-center
                  I have thoroughly enjoyed working with Amandine. In a short space of time she became a truly valuable asset to our team. She is honest, dependable, a fast learner and incredibly hard-working. Beyond that, she is an impressive Strength Coach who is always able to get the best from our athletes.

          .col-md-4.text-center
            = link_to(effectif_path, title: "Elodie Bld", style: "text-decoration: none;") do
              .bloc-temoignage
                .image-temoignage
                  = image_tag("elodie-bld-temoignage.jpg", :alt => "Témoignage de Elodie Bld", :class => "img-circle")
                %section
                  %h3.text-center
                    Elodie Bld
                  %h4.text-center
                    Développement potentiel physique
                  %p.text-justify.text-center
                    Une coach très accessible tout en étant très sérieuse et très pro. Amandine réalise des programmes personnalisés semaines après semaines voire jours après jours. Elle m’a permise de me remettre au sport progressivement sans que je me démotive (...)



    .row
      .col-md-12.text-center
        = link_to("https://g.page/h-training-fr/review?rc", title: "Laissez nous votre avis sur Google", :target => "_blank") do
          %span.btn.btn-contact{:type => "button"}
            Laissez nous votre avis sur Google
