- content_for :title do
  H-training | Préparation physique et performance
- content_for :meta do
  %meta{:content => "Travaillez tous les facteurs de la performance et bénéficiez d’un service de preparation physique de haut niveau et personnalisé", :name => "description"}/
  %meta{:content => "Performance, preparation physique, objectif, optimisation, haut-niveau, sportifs, expertise, potentiel - physique, motivation, planification, analyse", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/
  -# %meta{:content => "561640150629636", :property => "fb:app_id"}/
  -# %meta{:content => "fr_FR", :property => "og:locale"}/
  -# %meta{:content => "Mettez votre boxon chez nous", :property => "og:title"}/
  -# %meta{:content => "article", :property => "og:type"}/
  -# %meta{:content => "https://www.meetboxon.com", :property => "og:url"}/
  -# %meta{:content => "https://s3-eu-west-1.amazonaws.com/boxon/Tag-Facebook_3.jpg", :property => "og:image"}/
  -# %meta{:content => "Libérez-vous de l'espace. Nous récupérons vos affaires, les stockons et les retournons sur demande. ✓ À partir de 5,99€/M ✓ Sécurisé ✓ Assurance incluse", :property => "og:description"}/
  -# %meta{:content => "Boxon, le garde-meuble est mort", :property => "og:site_name"}/
  -# %meta{:content => "summary_large_image", :name => "twitter:card"}/
  -# %meta{:content => "Mettez votre boxon chez nous", :name => "twitter:title"}/
  -# %meta{:content => "Libérez-vous de l'espace. Nous récupérons vos affaires, les stockons et les retournons sur demande. ✓ À partir de 5,99€/M ✓ Sécurisé ✓ Assurance incluse", :name => "twitter:description"}/
  -# %meta{:content => "@MeetBoxon", :name => "twitter:creator"}/
  -# %meta{:content => "https://s3-eu-west-1.amazonaws.com/boxon/Tag-Facebook_3.jpg", :name => "twitter:image:src"}/

.wrapper.image-training
  .container
    %section
      %h1.text-left.text-uppercase
        VOTRE STRUCTURE D'ACCOMPAGNEMENT
        %br
        À LA
        %span PERFORMANCE
        SPORTIVE
        %span .
      %h2.text-left.font-italic
        Optez pour une solution tout-en-un
      %br
      %br
      %br
      .text-left
        = link_to(contact_path, title: "Choisissez H-Training") do
          %span.btn.btn-contact{:type => "button"}
            Choisissez H-Training
            &nbsp;
            %i.fas.fa-arrow-right
      %br
      %br
      %br
.wrapper
  .container
.wrapper
  .container
    %h2.text-center
      Tout ce dont vous avez besoin... Et même plus
.wrapper1
  .container
    %br
    %hr.text-center.hr-red
    %br
    %br
    .row
      .col-md-3.text-center
        %i.fa.fa-4x.fa-users.black
        %h3.padding-10 Travailler tous les facteurs de la performance
        %p Une équipe pluridisciplinaire pour vous encadrer vers l’atteinte de vos objectifs
      .col-md-3.text-center
        %i.fa.fa-4x.fa-key.black
        %h3.padding-10 S’entrainer dans des conditions optimales
        %p Du matériel de haut niveau et l’expertise des intervenants mis à votre disposition
      .col-md-3.text-center
        %i.fa.fa-4x.fa-chart-line.black
        %h3.padding-10 Avoir accès à un service sur-mesure
        %p Profitez du suivi individualisé pour atteindre vos objectif
      .col-md-3.text-center
        %i.fa.fa-4x.fa-sign-language.black
        %h3.padding-10 Evoluer dans un environnement favorable
        %p Appartenez à une communauté de sportifs pour entretenir votre motivation et dépasser vos limites

.wrapper1
  %hr.hr-grey
  %br
  %br
  %br
  .container
    %h2.text-center
    .row
      .col-md-3.marge_b30
        = image_tag("beach-session.jpg", :alt => "Beach session", :class => "img-responsive")
      .col-md-3.marge_b30
        = image_tag("rugby-preparation-physique.jpg", :alt => "Rugby préparation physique", :class => "img-responsive")
      .col-md-3.marge_b30
        = image_tag("rugby-step-up.jpg", :alt => "Rugby step-up", :class => "img-responsive")
      .col-md-3.marge_b30
        = image_tag("preparation-physique-olympique.jpg", :alt => "Préparation physique olympique", :class => "img-responsive")
      .col-md-3.marge_b30
        = image_tag("push-press.jpg", :alt => "Push press.jpg", :class => "img-responsive")
      .col-md-3.marge_b30
        = image_tag("medaille-athlete.jpg", :alt => "Médaille athlète", :class => "img-responsive")
      .col-md-3.marge_b30
        = image_tag("wattbike-preparation-physique.jpg", :alt => "Wattbike préparation physique", :class => "img-responsive")
      .col-md-3.marge_b30
        = link_to(media_path, title: "Accéder à la galerie photos") do
          = image_tag("athlete-sailing.jpg", :alt => "Athlète-sailing", :class => "img-responsive")

.wrapper
  %hr.hr-grey
  %br
  %br
  %br
  .container
    .row
      .col-md-8.col-md-offset-2
        #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
          .carousel-inner{:role => "listbox"}
            .item.active
              = image_tag("temoignage-francois-herry.jpg", :alt => "Témoignage de François Herry", :class => "img-responsive")
            .item
              = image_tag("temoignage-lucie-anastassiou.jpg", :alt => "Témoignage de Lucie Anastassiou", :class => "img-responsive")
            .item
              = image_tag("temoignage-maxime-rochet.jpg", :alt => "Témoignage de Maxime Rochet", :class => "img-responsive")
            .item
              = image_tag("temoignage-maxime-bernard.jpg", :alt => "Témoignage de Maxime Bernard", :class => "img-responsive")
            .item
              = image_tag("temoignage-elodie-bld.jpg", :alt => "Témoignage de Elodie Bld", :class => "img-responsive")
            .item
              = image_tag("temoignage-pernelle-michon.jpg", :alt => "Témoignage de Pernelle Michon", :class => "img-responsive")
            .item
              = image_tag("temoignage-dan-bradley.jpg", :alt => "Témoignage de Dan Bradley", :class => "img-responsive")
          %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
            %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
            %span.sr-only Previous
          %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
            %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
            %span.sr-only Next
  .text-center
    = link_to("https://g.page/h-training-fr/review?rc", title: "Laissez nous votre avis sur Google") do
      %span.btn.btn-contact{:type => "button"}
        Laissez nous votre avis sur Google
        &nbsp;
        %i.fas.fa-arrow-right
