- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/


.wrapper
  .container
    %section
      %h1.text-left.text-uppercase
        MEDIA
        %span .

.wrapper
  .container
    %h2.text-left.text-uppercase.title-section
      Photothèque
    .container
      #centre
      %h2.text-left.text-uppercase
        Centre d'entrainement
#Carousel_centre.carousel.slide.multi-item-carousel
  .carousel-inner
    .item.active
      .col-xs-4
        = image_tag("centre-entrainement-accueil.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-h-training.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-velo.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-tapis-course.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-structure.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-rigueur.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-repetition.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-recuperation.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-progression.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-preparation.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-personnalise.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-parcours.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-materiel.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-installation.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-focus.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-encouragement.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-elastique.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("centre-entrainement-coaching.jpg", :alt => "galerie photos centre entrainement", class: " img-responsive")

  %a.left.carousel-control{"data-slide" => "prev", :href => "#Carousel_centre"}
    %i.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#Carousel_centre"}
    %i.glyphicon.glyphicon-chevron-right

%br
%br
.wrapper
  .container
    .container
      #coeur1
      %h2.text-left.text-uppercase
        Au cœur de l'action
#Carousel_coeur.carousel.slide.multi-item-carousel
  .carousel-inner
    .item.active
      .col-xs-4
        = image_tag("au-coeur-de-laction.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-1.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-2.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-3.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-4.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-5.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-6.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-7.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-8.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-9.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-10.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-11.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-12.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-13.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-14.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-15.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-16.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-17.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-18.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-19.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-20.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-21.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-22.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-23.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-24.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-25.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-26.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-27.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-28.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-29.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("au-coeur-de-laction-30.jpg", :alt => "galerie photos au cœur de l'action", class: " img-responsive")

  %a.left.carousel-control{"data-slide" => "prev", :href => "#Carousel_coeur"}
    %i.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#Carousel_coeur"}
    %i.glyphicon.glyphicon-chevron-right

%br
%br
.wrapper
  .container
    .container
      #delocalisation
      %h2.text-left.text-uppercase
        Délocalisation
#Carousel_delocalisation.carousel.slide.multi-item-carousel
  .carousel-inner
    .item.active
      .col-xs-4
        = image_tag("delocalisation.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-1.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-2.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-3.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-4.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-5.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-6.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-7.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-8.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-9.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-10.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-11.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-12.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-13.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-14.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")
    .item
      .col-xs-4
        = image_tag("delocalisation-15.jpg", :alt => "galerie photos hors centre d'entrainement", class: " img-responsive")

  %a.left.carousel-control{"data-slide" => "prev", :href => "#Carousel_delocalisation"}
    %i.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#Carousel_delocalisation"}
    %i.glyphicon.glyphicon-chevron-right

%br
%br
.wrapper
  .container
    %h2.text-left.text-uppercase.title-section
      Videothèque
    .container
      #interviews
      %h2.text-left.text-uppercase
        Interviews
      %br
      .row
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/jqDPnCAWUiM", :width => "100%"}
          %h3 Interview : Pernelle Michon
          %h4 Voile, Laser Radial, Pôle France, La Rochelle
          %i 17.02.2019
          %br
          %br
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/Oz1ZF1ug02g", :width => "100%"}
          %h3 Interview : Ximun Mathis
          %h4 Pelote Basque, La Rochelle, Division ?
          %i 08.03.2019
          %br
          %br
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/dLAdKL0pujA", :width => "100%"}
          %h3 Interview : Maxime Mazard
          %h4 Voile, Laser Standard, Pôle France, La Rochelle
          %i 17.02.2019
          %br
          %br
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/rsXlUh6fxWg", :width => "100%"}
          %h3 Interview : Pernelle Michon
          %h4 Voile, Laser Radial, Pôle France, La Rochelle
          %i 04.02.2019
          %br
          %br
      .row
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/BeijGYgNyjI", :width => "100%"}
          %h3 Interview : Forrest Henry
          %h4 Baseball, Les Boucaniers, La Rochelle, Division 1
          %i 17.01.2019
          %br
          %br
      %br
      #coeur2
      %h2.text-left.text-uppercase
        Au cœur de l'action
      %br
      .row
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/ls1RZJvTkuo", :width => "100%"}
          %h3 Travail spécifique Appuis / Explosivité (Tennis)
          %h4 Echéance sportive Semaine-3 : activation neuro-musculaire des groupes musculaires concernés, réactivité au sol
        .col-md-3
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/cd28EfJrdc0", :width => "100%"}
          %h3 Trêve hivernale pour le RCP
          %h4 H-TRAINING, au service des clubs
