- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/


.wrapper.image-medias
  .container-fluid
    %section
      %br
      %br
      %br
      %br
      %br
      %h1.text-left.text-uppercase
        %span Medias
        %span .
      %br
      %p.text-left.font-italic.white.text-justify
        Découvrez le centre d'entraînement et plongez au cœur de l'action dans notre galerie de photos et dans notre vidéothèque.
        %br
        C'est aussi l'occasion de découvrir nos athlètes à travers des interviews courts et de voir ce qu'il se dit dans la presse.

.wrapper
  .container-fluid
.wrapper#phototheque
  .container-fluid
    .row
      .col-md-4
        %h2{style:"display:none;"} Photothèque
        = image_tag("phototheque.png", :alt => "Titre section Photothèque", style: "width:100%")
    %script{:defer => "defer", :src => "https://apps.elfsight.com/p/platform.js"}
    %div{:class => "elfsight-app-46a265da-994d-49f6-a039-4e84173fa858"}

.wrapper
  .container-fluid
    .row#videotheque
      .col-md-4
        %h2{style:"display:none;"} Videothèque
        #une
        = image_tag("videotheque.png", :alt => "Titre section Videothèque", style: "width:100%")

    .row
      .col-md-7.video-card
        %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "350", :src => "https://www.youtube.com/embed/s1LDxWPtXa0?rel=0&showinfo=0", :width => "100%"}
      .col-md-5.video-text#video-content
        %h3.descriptif VISION 360° 📺 ⎮Martin DUGAZ prépare le Concours d'Officier de Gendarmerie
        %h4
          %i.fas.fa-running
          &nbsp;
          Athlète
        %i.grey 12 mai 2021
        %p.descriptif
          Martin DUGAZ, nous a rejoint il y a 1 an dans le cadre de sa préparation spécifique "rugby". Aujourd'hui il change d'objectifs et nous parle de ses prochaines échéances qui auront lieu l'année prochaine, découvrez-les en image !
          %br
          Retrouvez chaque semaine l'un de nos athlètes dans le format " VISION 360°" 📽⏯
          %br
          L'occasion pour vous de découvrir le portrait de nos athlètes en images : sport, profil, parcours, objectifs ..
  %br
  %br
  .container-fluid#playlist
    .row
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/s1LDxWPtXa0?rel=0&showinfo=0"}
        = image_tag("lina-guerin-intersaison.jpg", :alt => "Lina Guerin | Intersaison", style: "width:100%")
        .video-text
          %h3.descriptif VISION 360° 📺 ⎮Martin DUGAZ prépare le Concours d'Officier de Gendarmerie
          %h4
            %i.fas.fa-running
            &nbsp;
            Athlète
          %i.grey 12 mai 2021
          %p.descriptif
            Martin DUGAZ, nous a rejoint il y a 1 an dans le cadre de sa préparation spécifique "rugby". Aujourd'hui il change d'objectifs et nous parle de ses prochaines échéances qui auront lieu l'année prochaine, découvrez-les en image !
            %br
            Retrouvez chaque semaine l'un de nos athlètes dans le format " VISION 360°" 📽⏯
            %br
            L'occasion pour vous de découvrir le portrait de nos athlètes en images : sport, profil, parcours, objectifs ..
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/3l-AnwslFnM?rel=0&showinfo=0"}
        = image_tag("lina-guerin-intersaison.jpg", :alt => "Lina Guerin | Intersaison", style: "width:100%")
        .video-text
          %h3.descriptif Lina Guerin | Intersaison Rugby 2020 - vol 3/3
          %h4
            %i.fas.fa-running
            &nbsp;
            Athlète
          %i.grey 6 mai 2021
          %p.descriptif
            Revivez avec nous la préparation spécifique rugby de Lina Guerin lors de l'intersaison 2020. 🏃🏻‍♀️🏉🏋🏽‍♀️
            %br
            D’ici là, on prépare 2021. ⏳
            Rugby(wo)man ? C’est le moment de vous manifester pour Juin, Juillet, ou Août !
            Durée, objectifs, niveau de pratique.. chaque suivi est individualisé !
            On organise les groupes. C’est parti ! 💥🏉
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/Jrg2e4gopZM?rel=0&showinfo=0"}
        = image_tag("seraphine-okemba-intersaison.jpg", :alt => "Seraphine Okemba | Intersaison", style: "width:100%")
        .video-text
          %h3.descriptif Seraphine Okemba | Intersaison Rugby 2020 - vol 2/3
          %h4
            %i.fas.fa-running
            &nbsp;
            Athlète
          %i.grey 5 mai 2021
          %p.descriptif
            Revivez avec nous la préparation spécifique rugby de Seraphine Okemba lors de l'intersaison 2020. 🏃🏻‍♀️🏉🏋🏽‍♀️
            %br
            Restez connectés, 1 autre épisode est encore à venir dans la semaine ! ⏳
            D’ici là, on prépare 2021.
            Joueuse / Joueur de rugby ? C’est le moment de vous manifester pour Juin, Juillet, ou Août !
            Durée, objectifs, niveau de pratique.. chaque suivi est individualisé !
            On organise les groupes. C’est parti ! 💥🏉
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/YSkbh46R670?rel=0&showinfo=0"}
        = image_tag("montserrat-amedee-intersaison.jpg", :alt => "Montserrat Amédée | Intersaison", style: "width:100%")
        .video-text
          %h3.descriptif Montserrat Amédée | Intersaison Rugby 2020 - vol 1/3
          %h4
            %i.fas.fa-running
            &nbsp;
            Athlète
          %i.grey 3 mai 2021
          %p.descriptif
            Revivez avec nous la préparation spécifique rugby de Montserrat Amédée lors de l'intersaison 2020. 🏃🏻‍♀️🏉🏋🏽‍♀️
            %br
            Restez connectés, 2 autres épisodes sont à venir dans la semaine ! ⏳
            D’ici là, on prépare 2021.
            Rugby(wo)man ? C’est le moment de vous manifester pour Juin, Juillet, ou Août !
            Durée, objectifs, niveau de pratique.. chaque suivi est individualisé !
            On organise les groupes. C’est parti ! 💥🏉
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/HyIb9_wPeaQ?rel=0&showinfo=0"}
        = image_tag("evolution-camille-pouget.jpg", :alt => "EVOLUTION Camille POUGET", style: "width:100%")
        .video-text
          %h3.descriptif EVOLUTION 📺 ⎮Camille POUGET
          %h4
            %i.fas.fa-running
            &nbsp;
            Athlète
          %i.grey 27 avr. 2021
          %p.descriptif
            Camille POUGET,  nous a rejoint en février 2019. Elle nous raconte son histoire et revient sur ses progressions au centre ainsi que les raisons qui l'avaient conduite jusqu'à nous ce jour là !
            %br
            ✅ Des résultats spectaculaires 💥
            %br
            Le mieux, c'est de vous laisser regarder les images 🎞😉🔥
            %br
            Retrouvez chaque semaine l'un de nos athlètes dans le format " EVOLUTION" ou "VISION 360°" 📽⏯
            %br
            L'occasion pour vous de découvrir le portrait de nos athlètes en images : sport, profil, parcours, objectifs ..
        %br
        %br
    .row
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/JZwHqpk_ZeM?rel=0&showinfo=0"}
        = image_tag("echauffement-avant-course.jpg", :alt => "Échauffement avant Course à pied", style: "width:100%")
        .video-text
          %h3.descriptif Échauffement avant Course à pied 🦵🏼🏃🏽‍♂️
          %h4
            %i.fas.fa-swimmer
            &nbsp;
            Exercices
          %i.grey 27 mars 2021
          %p.descriptif
            ⚠️ ÉCHAUFFEZ-VOUS pour COURIR ! ⚠️
            Ne courrez pas pour vous échauffer ! Ça vient après 😉
            %br
            ✅ Recrutement des muscles stabilisateurs, échauffement articulaire, coordination, synchronisation.. décontextualisé puis recontextualisé, on y ajoute progressivement de l'intention de vitesse pour se rapprocher doucement de l'activité de course à pied ...
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/wqaYIkyBI_U?rel=0&showinfo=0"}
        = image_tag("stage-h-training-1.jpg", :alt => "Stage H TRAINING 1ère édition", style: "width:100%")
        .video-text
          %h3.descriptif Stage H TRAINING 1ère édition
          %h4
            %i.fas.fa-calendar-day
            &nbsp;
            Évènement
          %i.grey 23 mars 2021
          %p.descriptif
            Sur l’île d’Aix - 1ère édition ☀️
            %br
            3 binômes se sont retrouvés ce week-end sur l’île d’Aix.
            %br
            Entre rires et partages, ils auront réalisé sur 2 jours : 20km de course, 18km en run&bike et 5km de canoë.
            %br
            Bravo à tous pour votre engagement et merci pour votre bonne humeur 🙏🏼
            %br
            « Tout le long je lui ai dit qu’on aurait jamais fait ça de notre vie »
            @lau_mumu
            « Faut que tu me les partages (les données), parce que c’est sur mes potes ils me croiront jamais »
            @malo_true
            %br
            Si tu candidates pour la prochaine édition ... post un « 🔥 »  !!!
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/A4FZYhLS0ww?rel=0&showinfo=0"}
        = image_tag("track-and-field-2.jpg", :alt => "TRACK AND FIELD", style: "width:100%")
        .video-text
          %h3.descriptif TRACK AND FIELD
          %h4
            %i.fas.fa-running
            &nbsp;
            Athlète
          %i.grey 2 mars 2021
          %p.descriptif
            🙏🏼🌟 À l’image de cette séance,  H-TRAINING devient doucement ce que nous avions espéré :
            %br
            ✅ Des projets sportifs qui se mélangent, mêlant les sports collectifs aux sports individuels, les femmes aux hommes et de tous les âges.
            Du sport amateur au sport professionnel, tous n’ont qu’un but... atteindre leurs propres performances, aux côtés de ceux qui partagent la même envie. ⚡️
            %br
            Chaque séance est individualisée, mais l’énergie du collectif fait grimper les chiffres. 🥵📈🤓
            %br
            🔊 SOUND ON 😏
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/t7my8Xenl6E?rel=0&showinfo=0"}
        = image_tag("evolution-samuel-thebault.jpg", :alt => "EVOLUTION, Samuel THEBAULT", style: "width:100%")
        .video-text
          %h3.descriptif EVOLUTION 📺 ⎮ Samuel THEBAULT
          %h4
            %i.fas.fa-chart-line
            &nbsp;
            Evolution
          %i.grey 27 janv. 2021
          %p.descriptif
            Samuel THEBAULT, rugbyman, nous a rejoint en avril 2019. Il revient sur son parcours au centre et les raisons qui l'avaient conduit jusqu'à nous ce jour là !

            ✅ Des résultats détonants 💥
            Depuis c'est 15kg en moins avec un ratio masse maigre / masse grasse optimisé, et des gains très significatifs en vitesse et en explosivité !

            Le mieux, c'est de vous laisser regarder les images 🎞😉🔥

            Retrouvez chaque semaine l'un de nos athlètes dans le format " EVOLUTION" ou "VISION 360°" 📽⏯

            L'occasion pour vous de découvrir le portrait de nos athlètes en images : sport, profil, parcours, objectifs ..
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/h-50In3sXbc?rel=0&showinfo=0"}
        = image_tag("votre-centre-de-performance-sportive.jpg", :alt => "H-TRAINING, votre centre de performance sportive", style: "width:100%")
        .video-text
          %h3.descriptif H-TRAINING, votre centre de performance sportive
          %h4
            %i.fas.fa-dumbbell
            &nbsp;
            Au cœur de l'action
          %i.grey 4 janv. 2021
          %p.descriptif
            Situé à La Rochelle, H-TRAINING accompagne tous les sportifs compétiteurs, peu importe le niveau et la discipline.
            Jeux Olympiques, Vendée Globe, Sport professionnel et amateur, tous les projets se réunissent ici pour être accompagné par notre équipe d'experts (préparation physique, nutrition, kiné, gym douce, sophrologie...).

            Nous sommes à l'écoute de tous les projets, qu'ils soient portés par des sportifs, ou par de futurs collaborateurs. Nous aimons agrandir la famille et n'attendons que la suite avec vous !

        %br
        %br

.wrapper
  .container-fluid
    .text-center
      = link_to('https://www.youtube.com/channel/UCJfpN8tSkR5yh9RIhbVkGfQ/playlists', target: "_blank", title: "Playlists Youtube") do
        %span.btn.btn-contact
          Voir plus sur Youtube
