- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/


.wrapper.image-medias
  .container-fluid
    %section
      %br
      %br
      %br
      %br
      %br
      %h1.text-left.text-uppercase
        %span Medias
        %span .
      %br
      %p.text-left.font-italic.white.text-justify
        Découvrez le centre d'entraînement et plongez au cœur de l'action dans notre galerie de photos et dans notre vidéothèque.
        %br
        C'est aussi l'occasion de découvrir nos athlètes à travers des interviews courts et de voir ce qu'il se dit dans la presse.

.wrapper
  .container-fluid
.wrapper#phototheque
  .container-fluid
    .row
      .col-md-4
        %h2{style:"display:none;"} Photothèque
        = image_tag("phototheque.png", :alt => "Titre section Photothèque", style: "width:100%")


.wrapper
  .container-fluid
    .row
      .col-md-5ths.video-card{"data-target" => "#ModalCentreMedia", "data-toggle" => "modal", :type => "button", style: "cursor:pointer"}
        = image_tag("centre-entrainement-accueil.jpg", :alt => "galerie photos centre entrainement", class: "img-responsive")
        .album.text-center
          %h3 CENTRE D'ENTRAINEMENT
      .col-md-5ths.video-card{"data-target" => "#ModalCoeurMedia", "data-toggle" => "modal", :type => "button", style: "cursor:pointer"}
        = image_tag("au-coeur-de-laction.jpg", :alt => "galerie photos au cœur de l'action", class: "img-responsive")
        .album.text-center
          %h3 AU CŒUR DE L'ACTION
      .col-md-5ths.video-card{"data-target" => "#ModalDelocMedia", "data-toggle" => "modal", :type => "button", style: "cursor:pointer"}
        = image_tag("delocalisation.jpg", :alt => "galerie photos hors centre d'entrainement", class: "img-responsive")
        .album.text-center
          %h3 DÉLOCALISATION
      .col-md-5ths.video-card{"data-target" => "#ModalEtAuDela", "data-toggle" => "modal", :type => "button", style: "cursor:pointer"}
        = image_tag("et-au-dela-1.jpg", :alt => "galerie photos Et au delà", class: "img-responsive")
        .album.text-center
          %h3 ET AU DELÀ
      .col-md-5ths.video-card{"data-target" => "#ModalDeconfinement", "data-toggle" => "modal", :type => "button", style: "cursor:pointer"}
        = image_tag("deconfinement-juin-1.jpg", :alt => "galerie photos Déconfinement du 1er juin 2020", class: "img-responsive")
        .album.text-center
          %h3 Déconfinement 1er juin 2020

= render partial: "centremedia"
= render partial: "coeurmedia"
= render partial: "delocmedia"
= render partial: "etaudela"
= render partial: "deconfinement"

%br
%br
.wrapper
  .container-fluid
    .row#videotheque
      .col-md-4
        %h2{style:"display:none;"} Videothèque
        #une
        = image_tag("videotheque.png", :alt => "Titre section Videothèque", style: "width:100%")

    .row
      .col-md-7.video-card
        %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "350", :src => "https://www.youtube.com/embed/_ALOQyw3SRk?rel=0&showinfo=0", :width => "100%"}
      .col-md-5.video-text#video-content
        %h3 Athlète Rémi MOUSSEAU
        %h4
          %i.fas.fa-dumbbell
          &nbsp;
          Réathlétisation
        %i.grey 2 févr. 2020
        %p Suite à une grave blessure au rugby cette année, Rémi effectue les transitions entre son centre de rééducation à Paris et le CERS de Capbreton ici au centre d'entrainement H-TRAINING. Il échange avec nous sur ses semaines passées et à venir...
  %br
  %br
  .container-fluid#playlist
    .row
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/_ALOQyw3SRk?rel=0&showinfo=0"}
        = image_tag("interview-remi-mousseau.jpg", :alt => "Interview : Rémi MOUSSEAU", style: "width:100%")
        .video-text
          %h3 Athlète Rémi MOUSSEAU
          %h4
            %i.fas.fa-dumbbell
            &nbsp;
            Réathlétisation
          %i.grey 2 févr. 2020
          %p.descriptif Suite à une grave blessure au rugby cette année, Rémi effectue les transitions entre son centre de rééducation à Paris et le CERS de Capbreton ici au centre d'entrainement H-TRAINING. Il échange avec nous sur ses semaines passées et à venir...
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/571kaI9cY_I?rel=0&showinfo=0"}
        = image_tag("interview-alexis-tahet.jpg", :alt => "Interview : Alexis TAHET", style: "width:100%")
        .video-text
          %h3 Athlète Alexis TAHET
          %h4
            %i.fas.fa-microphone-alt
            &nbsp;
            Interview
          %i.grey 6 janv. 2020
          %p.descriptif Retrouvez les derniers échanges avec Alexis avant son départ pour Malte dans son nouveau club. Il a rejoint ce dimanche Hamrun pour les 6 derniers mois de la saison avec un an de prolongation si les deux parties sont satisfaites. Un nouveau challenge pour ce jeune joueur qui multiplie les expériences !
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/b76aL--biEA?rel=0&showinfo=0"}
        = image_tag("interview-eliot-merceron.jpg", :alt => "Interview : Eliot Merceron", style: "width:100%")
        .video-text
          %h3 Athlète Eliot MERCERON
          %h4
            %i.fas.fa-microphone-alt
            &nbsp;
            Interview
          %i.grey 29 déc. 2019
          %p.descriptif Retrouvez la réaction de Eliot MERCERON suite à sa victoire à la Semaine Olympique Espagnole : une régate qui clôture 3 mois et demi de préparation avant de s'en aller en Australie pour le Championnat du Monde
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/jqDPnCAWUiM?rel=0&showinfo=0"}
        = image_tag("interview-pernelle-michon-2.jpg", :alt => "Interview : Pernelle Michon", style: "width:100%")
        .video-text
          %h3 Athlète : Pernelle MICHON
          %h4
            %i.fas.fa-microphone-alt
            &nbsp;
            Interview
          %i.grey 29 déc. 2019
          %p.descriptif Il y a quelques mois de ça, Pernelle MICHON s'était confié sur son parcours, ses ambitions, son expérience au centre d'entrainement etc. et avait imaginé avec émotions le titre de son autobiographie. 📕
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/Oz1ZF1ug02g?rel=0&showinfo=0"}
        = image_tag("interview-ximun-mathis.jpg", :alt => "Interview : Ximun Mathis", style: "width:100%")
        .video-text
          %h3 Ximun Mathis
          %h4
            %i.fas.fa-microphone-alt
            &nbsp;
            Interview
          %i.grey 28 nov. 2019
          %p.descriptif Athlète : Ximun MATHIS, Joueur de Pelote Basque 🏏. Ximun évoque avec nous le premier week-end de sa saison, soldé par une belle victoire contre l'équipe de Cestas. Il nous raconte ses meilleurs souvenirs, ses objectifs et la raison pour laquelle son portable lui manquerait le plus.
        %br
        %br
    .row
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/dLAdKL0pujA?rel=0&showinfo=0"}
        = image_tag("interview-maxime-mazard.jpg", :alt => "Interview : Maxime Mazard", style: "width:100%")
        .video-text
          %h3 Athlète Maxime MAZARD
          %h4
            %i.fas.fa-microphone-alt
            &nbsp;
            Interview
          %i.grey 28 nov. 2019
          %p.descriptif Athète : Maxime MAZARD, Laser Standard ⛵️. Champion du Monde ! Ce n'est pas rien ... Il nous raconte son parcours et ses objectifs. Les premières échéances arrivent à grands pas ! On lui souhaite le meilleur !
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/cd28EfJrdc0?rel=0&showinfo=0"}
        = image_tag("treve-hivernale-pour-rcp.jpg", :alt => "Trêve hivernale pour le RCP", style: "width:100%")
        .video-text
          %h3 Rugby Club Puilboreau
          %h4
            %i.fas.fa-dumbbell
            &nbsp;
            Préparation Physique
          %i.grey 3 janv. 2019
          %p.descriptif H-TRAINING, au service des clubs
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/BeijGYgNyjI?rel=0&showinfo=0"}
        = image_tag("interview-forest-henry.jpg", :alt => "Interview : Forrest Henry", style: "width:100%")
        .video-text
          %h3 Forrest Henry
          %h4
            %i.fas.fa-microphone-alt
            &nbsp;
            Interview
          %i.grey 10 déc. 2018
          %p.descriptif Après avoir passé 6 semaines avec H-TRAINING, Forrest s'est confié sur ses objectifs, son vécu au centre d'entrainement, des anecdotes sur sa routine personnelle d'avant match ou ses meilleurs souvenirs sportifs... La vidéo complète est à venir.
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/rsXlUh6fxWg?rel=0&showinfo=0"}
        = image_tag("interview-pernelle-michon-1.jpg", :alt => "Interview : Pernelle Michon", style: "width:100%")
        .video-text
          %h3 Pernelle
          %h4
            %i.fas.fa-microphone-alt
            &nbsp;
            Interview
          %i.grey 28 nov. 2019
          %p.descriptif Retrouvez la réaction de notre athlète Pernelle Michon Sailing suite à sa très belle performance au Championnat d'Europe la semaine dernière. 👌🏼Nous nous étions fixé cette régate comme notre toute première échéance dans notre planification. Le travail paye.
        %br
        %br
      .col-md-5ths.image-card{"data-url" => "https://www.youtube.com/embed/ls1RZJvTkuo?rel=0&showinfo=0"}
        = image_tag("travail-specifique-appuis.jpg", :alt => "Travail spécifique Appuis / Explosivité (Tennis)", style: "width:100%")
        .video-text
          %h3 Julien Fernandez
          %h4
            %i.fas.fa-microphone-alt
            &nbsp;
            Interview
          %i.grey 26 nov. 2018
          %p.descriptif Travail spécifique Appuis / Explosivité (Tennis). Echéance sportive Semaine-3 : activation neuro-musculaire des groupes musculaires concernés, réactivité au sol
        %br
        %br

.wrapper
  .container-fluid
    .text-center
      = link_to('https://www.youtube.com/channel/UCJfpN8tSkR5yh9RIhbVkGfQ/playlists', target: "_blank", title: "Playlists Youtube") do
        %span.btn.btn-contact
          Voir plus sur Youtube
