- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper.image-notre-mission
  .container-fluid
    %section
      %br
      %br
      %br
      %h1.text-left.text-uppercase
        %span Notre Mission
        %span .
      %br
      %p.text-left.font-italic.white
        La performance naît de l'entraînement des différentes composantes :
        %br
        technique, tactique, physique, mentale etc. Toutes les caractéristiques du sportif doivent être envisagées dans un système complexe où chacune interagit avec l'autre.
        %br
        C'est la raison pour laquelle H-TRAINING unit des forces et construit progressivement une équipe pluridisciplinaire afin d'accompagner ses athlètes.

.wrapper
  .container-fluid
.wrapper
  .container-fluid
    .row.vcenter
      .col-md-6
        %p.text-justify
          %i.fa.fa-2x.fa-quote-left{style: "margin-left:10px"}
          %br
          %br
          Passionnée par l’entrainement et les sciences qui y sont appliquées, je m’intéresse quotidiennement aux dernières études scientifiques pour proposer l’entrainement le plus adapté au profil et aux besoins individuels de mes athlètes afin qu’ils atteignent leur meilleur niveau. La transmission du savoir à travers leur pratique est ma priorité.
          %br
          %br
          Du golf au rugby, du sport amateur au sport professionnel de haut niveau, en France jusqu’en Australie, la diversité de mes expériences antérieures et les multiples échanges avec les professionnels du milieu m’ont amené à développer un esprit critique et à affiner ma vision de l’entrainement que je souhaite mettre au service de nos athlètes.
          %br
          %br
          %i.fa.fa-2x.fa-quote-right{style: "margin-left:10px"}
      .col-md-6
        = image_tag("portrait-site.png", :alt => "Notre mission", :class => "img-responsive")

.wrapper4
  .container-fluid
    %section
      .row
        .col-lg-10.col-lg-offset-1
          #cover-image
            .cover-image
              = image_tag("cover-image.jpg", :alt => "Amandine Hostynek cover", width: "100%", height: "100%")
          #profile-image
            .profile-image
              = image_tag("amandine-hostynek.png", :alt => "Amandine Hostynek", :class => "img-circle")
          .title-image.text-center
            %br
            %br
            %h4
              %a{href:"https://www.linkedin.com/in/amandine-hostynek-005257109/"}AMANDINE HOSTYNEK
            %i Préparatrice Physique
          %br
          %br
          .text-center
            %ul.nav.nav-tabs.text-center{:role => "tablist"}
              %li.active{:role => "presentation"}
                %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#home", :role => "tab"}
                  %h4
                    %i.fa.fa-star
                    Domaines de compétences
              %li{:role => "presentation"}
                %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#profile", :role => "tab"}
                  %h4
                    %i.fa.fa-graduation-cap
                    Qualifications
              %li{:role => "presentation"}
                %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#messages", :role => "tab"}
                  %h4
                    %i.fa.fa-briefcase
                    Expérience
          .tab-content.text-center
            #home.tab-pane.active{:role => "tabpanel"}
              %ul.list-unstyled
                %li
                  %p.text-center
                    %strong Programmation d’entrainement individualisé :
                    Maximiser le potentiel physique du sportif – salle et terrain
                %li
                  %p.text-center
                    %strong Planification et gestion de la charge d’entrainement :
                    mise en relation des stratégies de périodisation et du retour subjectif du joueur
                %li
                  %p.text-center
                    %strong Prévention de blessure et réathlétisation :
                    approche holistique : analyse du mouvement, mobilité, déséquilibre musculaire
                %li
                  %p.text-center
                    %strong Analyse des données et statistiques :
                    suivi de la performance et bilan des données quantitatives
                %li
                  %p.text-center
                    %strong Préparation Physique spécifique :
                    Développement des qualités physiques en fonction de l’exigence de la discipline, du poste et des caractéristiques du joueur
            #profile.tab-pane{:role => "tabpanel"}
              %ul.list-unstyled
                %li
                  %p.text-center
                    %strong MASTER STAPS "Préparation Physique et Réathlétisation"
                %li
                  %p.text-center
                    %strong LICENCE STAPS "Entrainement sportif", mention rugby XV
                %li
                  %p.text-center
                    %strong BPJEPS AGFF, mention D :
                    %br
                    Brevet Professionnel de la Jeunesse, de l’Education Populaire et du Sport, Activités Gymniques de la Forme et de la Force, mention "Haltères, musculation et forme sur plateau"
                %li
                  %p.text-center
                    %strong
                      Membre de l’
                      %a{href:'http://www.ereps.eu', target:"_blank"}EREPS
                      , Niveau 6 : Entraineur, Spécialiste avancé de la santé et de l’exercice :
                    %br
                    EREPS : European Register of Exercise Professionals, EQF Level 6 : Personal Trainer, Advanced Health and Exercise Specialist
            #messages.tab-pane{:role => "tabpanel"}
              %i
                Avant la création H-TRAINING :
              %br
              %br
              %ul.list-unstyled
                %li
                  %p.text-center
                    = link_to('https://www.olweb.fr/fr/', title: "Olympique Lyonnais (Ligue 1)", target: '_blank') do
                      %strong Olympique Lyonnais (Ligue 1)
                    \: 1 semaine en immersion, 2017
                %li
                  %p.text-center
                    = link_to('http://www.eastsrugby.com.au', title: "Eastern Suburbs Rugby Union", target: '_blank') do
                      %strong Eastern Suburbs Rugby Union (Shute Shield)
                    \: Sydney, Australie, 2017
                %li
                  %p.text-center
                    = link_to('https://www.staderochelais.com', title: "Stade Rochelais", target: '_blank') do
                      %strong Stade Rochelais (TOP14)
                    \: La Rochelle, 2015-2016
                %li
                  %p.text-center
                    = link_to('http://stagesnk22.com', title: "Stages Handball Nikola Karabatic", target: '_blank') do
                      %strong Stages Handball Nikola Karabatic (F/M)
                    \: Montpellier, 2015, 2016, 2018
                #down
                  %li
                    %p.text-center
                      = link_to('https://www.montpellierhandball.com', title: "Pôle Espoirs Handball", target: '_blank') do
                        %strong Pôle Espoirs Handball (M)
                      \: Montpellier, 2014-2015
                  %li
                    %p.text-center
                      = link_to('http://www.montpellier-rugby.com/home', title: "Montpellier Herault Rugby", target: '_blank') do
                        %strong Montpellier Herault Rugby (U19M)
                      \: Montpellier, 2013-2014
                  %li
                    %p.text-center
                      = link_to('http://www.lycee-mermoz.net/joomla/index.php/vie-lyceenne/vie-sportive/section-rugby', title: "Section Sportive Lycée Jean Mermoz", target: '_blank') do
                        %strong Section Sportive Lycée Jean Mermoz (F/M)
                      \: Montpellier, 2013-2014
                  %li
                    %p.text-center
                      = link_to('https://www.creps-montpellier.org/haut-niveau.fiches?poles-espoirs.golf', title: "Pôle Espoirs Golf", target: '_blank') do
                        %strong Pôle Espoirs Golf (F/M)
                      \: Montpellier, 2012-2013
                  %li
                    %p.text-center
                      = link_to('https://www.rov-mc.com', title: "Rugby Olympique Védasien", target: '_blank') do
                        %strong Rugby Olympique Védasien (U16M)
                      \: Montpellier 2012-2013
                %a#angle-down
                  %i.fa.fa-angle-down
                  &nbsp; plus

.wrapper7
  .container-fluid
    %section
      %h2.text-center
        Les Clubs qui m'ont fait confiance
      .row
        .col-lg-2
          = image_tag("eastern-suburbs-RUFC.png", :alt => "Eastern Suburbs RUFC", width: "100%", height: "100%")
        .col-lg-2
          = image_tag("MAHB.png", :alt => "Montpellier Handball", width: "100%", height: "100%")
        .col-lg-2
          = image_tag("montpellier-herault-rugby.png", :alt => "Montpellier Herault Rugby", width: "100%", height: "100%")
        .col-lg-2
          = image_tag("olympique-lyonnais.png", :alt => "Olympique Lyonnais", width: "100%", height: "100%")
        .col-lg-2
          = image_tag("rugby-olympique-vedasien.png", :alt => "Rugby Olympique Vedasien", width: "100%", height: "100%")
        .col-lg-2
          = image_tag("stade-rochelais.png", :alt => "Stade Rochelais", width: "100%", height: "100%")
