- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper.image-partenaires
  .container-fluid
    %section
      %br
      %br
      %br
      %br
      %br
      %h1.text-left.text-uppercase
        %span Partenaires
        %span .
      %br
      %p.text-left.font-italic.white.text-justify
        Entreprises et Particuliers pouront très prochainement s'investir pleinement à la réussite de nos projets sportifs.
        %br
        Devenez membres exclusifs en parrainant un projet !

.wrapper
  .container-fluid

.wrapper
  .container-fluid
    %h2.text-left.title-section
      Liste de nos Partenaires
    .text-center
      %span.marge_t10.btn.btn-contact#partenaire{"data-target" => "#partenaireModal", "data-toggle" => "modal", :type => "button"}
        Devenir Partenaire

.wrapper
  .container-fluid

.wrapper
  .container-fluid
    .row.partenaire-social
      .col-md-2.space
        .text-center
          = image_tag("decathlon-la-rochelle.png", :alt => "Decathlon Puilboreau La Rochelle", style: "width:70%")
          %br
          %br
          %ul.text-center.list-unstyled.list-inline
            %li
              = link_to('https://www.facebook.com/decathlonlarochelle', target: "_blank", title: "Facebook Decathlon Puilboreau La Rochelle") do
                %i.fab.fa-2x.fa-facebook-square
            %li
              = link_to('https://www.instagram.com/decathlon_larochelle/?hl=fr', target: "_blank", title: "Instagram Decathlon Puilboreau La Rochelle") do
                %i.fab.fa-2x.fa-instagram
            %li
              = link_to('https://www.decathlon.fr/store-view/magasin-de-sports-puilboreau-0070003600036', target: "_blank", title: "Youtube Decathlon Puilboreau La Rochelle") do
                %i.fas.fa-2x.fa-globe
      .col-md-5.space
        %h3.blue Decathlon La Rochelle Puilboreau
        %i Zone Commerciale Beaulieu, 2 Rue de Belgique, 17138 Puilboreau
        %br
        %br
        %p Donner la possibilité aux athlètes H-TRAINING de bénéficier de matériel adapté à leur pratique et à la hauteur de leur exigence est une des missions de Décathlon La Rochelle. Ensemble nous répondons aux besoin de chaque structure grâce à un échange régulier.
        %br
        %p
          %strong.red Avantage sportif H-TRAINING :
          \-10% à chaque passage en caisse.
      .col-md-1.display-mobile
        #barre
      .col-md-4.space
        %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "222em", :src => "https://www.youtube.com/embed/QU419utm7Zo", :width => "100%"}

#partenaireModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partenaireModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#partenaireModalLabel.modal-title Devenir Partenaire
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .container-fluid-fluid
          = simple_form_for(:form_partenaire, html: { class: 'form-horizontal' }) do |f|
            .form-inputs.text-center
              %ul.list-unstyled
                %li.barre
                  .row
                    .col-md-6{style: "padding: 0 15px;"}
                      = f.input :last_name, required: true, label: false, placeholder: "Nom / Raison sociale*", autofocus: false
                    .col-md-6{style: "padding: 0 15px;"}
                      = f.input :first_name, required: true, label: false, placeholder: "Votre Prénom*", autofocus: true
                %li.barre
                  = f.input :email, required: true, label: false, placeholder: "Votre adresse e-mail*", autofocus: false
                %li.barre
                  = f.input :phone, required: true, label: false, placeholder: "Votre numéro de téléphone", autofocus: false
                %li.barre
                  = f.input :message, label: false, placeholder: "Votre message", required: false, as: :text, input_html: {rows: 4}
          #okidokki
          #notoki
      .modal-footer
        %span#button-partenaire.btn.btn-contact{:type => "button", "data-style" => "expand-left"}
          %span.ladda-label Envoyer
