- content_for :title do
  H-training | Préparation Physique et Performance
- content_for :meta do
  %meta{:content => "De par son caractère multifactoriel, la performance naît de l’entrainement (...) athlètes vers leurs objectifs au sein d’une équipe pluridisciplinaire et dédiée", :name => "description"}/
  %meta{:content => "Préparation physique, objectifs, sportifs, training", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper.image-partenaires
  .container-fluid
    %section
      %br
      %br
      %br
      %br
      %br
      %h1.text-left.text-uppercase
        %span Partenaires
        %span .
      %br
      %p.text-left.font-italic.white.text-justify
        Entreprises et Particuliers pouront très prochainement s'investir pleinement à la réussite de nos projets sportifs.
        %br
        Devenez membres exclusifs en parrainant un projet !

.wrapper
  .container-fluid

.wrapper
  .container-fluid
    %h2.text-left.title-section
      Liste de nos Partenaires
    .text-center
      %span.marge_t10.btn.btn-contact#partenaire{"data-target" => "#partenaireModal", "data-toggle" => "modal", :type => "button",style:"margin-left: -80px;"}
        Devenir Partenaire

#partenaireModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "partenaireModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#partenaireModalLabel.modal-title Devenir Partenaire
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .container-fluid-fluid
          = simple_form_for(:form_partenaire, html: { class: 'form-horizontal' }) do |f|
            .form-inputs.text-center
              %ul.list-unstyled
                %li.barre
                  .row
                    .col-md-6
                      = f.input :first_name, required: true, label: false, placeholder: "Votre Prénom", autofocus: true
                    .col-md-6
                      = f.input :last_name, required: true, label: false, placeholder: "Votre Nom", autofocus: false
                %li.barre
                  = f.input :email, required: true, label: false, placeholder: "Votre adresse e-mail", autofocus: false
                %li.barre.text-left{style: "margin-bottom: 10px;"}
                  %i.red{"aria-controls" => "collapseH-PERF", "aria-expanded" => "false", "data-target" => "#collapseH-PERF", "data-toggle" => "collapse", :type => "button", style: "cursor:pointer;"}
                    Si vous êtes une entreprise ?
                    .fas.fa-chevron-down
                  #collapseH-PERF.collapse
                    = f.input :company_name, required: true, label: false, placeholder: "Le nom de votre entreprise", autofocus: false
                %li.barre
                  = f.input :phone, required: true, label: false, placeholder: "Votre numéro de téléphone", autofocus: false
                %li.barre
                  = f.input :message, label: false, placeholder: "Votre message", required: false, as: :text, input_html: {rows: 4}
          #okidokki
          #notoki
      .modal-footer{style:"text-align:center;height:70px;"}
        %span#button-partenaire.btn.btn-contact{:type => "button", "data-style" => "expand-left",style:"margin-left:-40px;"}
          %span.ladda-label Envoyer
