- content_for :title do
  Services | Une solution pour chaque besoin
- content_for :meta do
  %meta{:content => "Vos objectifs deviendront les miens : Amandine H.", :name => "description"}/
  %meta{:content => "Préparation Physique spécifique, Suivi de la performance, Réathlétisation, Prévention de blessure, séances, individuelles, collectives", :name => "keywords"}/
  %meta{:content => "all", :name => "robots"}/

.wrapper
  .container
    %section
      %h1.text-left.text-uppercase
        SERVICES
        %span .
      %i
        H TRAINING est une structure d’accueil pour tous les sportifs qui recherchent un accompagnement au quotidien par une équipe d’experts pluridisciplinaires, afin de travailler sur chacun des facteurs de la performance : physique, mental, récupération, nutrition… Chaque objectif est considéré par l’encadrement avec la même attention.

#hperf
.animation-element.slide-left.service
  .header
    .left
      %h2.text-left.text-uppercase.blank
        H-PERF
    .right
  .content
    .row.vcenter
      .col-md-6.col-xs-6
        .text-justify
          S’engager dans le service d’accompagnement personnalisé c’est s’offrir l’opportunité d’atteindre ses objectifs. La planification de l’entraînement est réalisée de façon minutieuse selon votre profil et vos besoins. La souplesse des horaires s’adapte à vos contraintes pour vous permettre d’équilibrer au mieux vos temps de vie. Quel que soit votre objectif, notre équipe qualifiée saura vous conduire vers l’atteinte de vos objectifs.
      .col-md-6.col-xs-6
        .text-center
          %h3
            Offrez vous un entraînement personnalisé
          %br
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/cJPRr7laO8A", :width => "100%"}
    .row
      .col-md-12
        .text-left
          À partir de 130 €/mois
          &nbsp;
          = link_to("https://h-training.s3.eu-west-3.amazonaws.com/H-PERF.pdf", target: "_blank", title: "Service H-PERF", style: "text-decoration: none;") do
            %span.btn.btn-contact{:type => "button"}
              TARIFS H-PERF
              &nbsp;
              %i.fas.fa-arrow-right

.wrapper
  .container

#hrehab
.animation-element.slide-left.service
  .header
    .left
      %h2.text-left.text-uppercase.blank
        H-REHAB
    .right
  .content
    .row.vcenter
      .col-md-6.col-xs-6
        .text-justify
          Une blessure peut être vécue comme un coup d’arrêt, mais H-TRAINING s’efforcera de vous faire comprendre, et que vous l’intégriez, que la période de réathlétisation lors d’une blessure est aussi un moment opportun pour travailler sur ses points faibles et renforcer ses points forts quand parfois la densité du calendrier ne permet plus de “fatiguer” les organismes en période compétition...
      .col-md-6.col-xs-6
        .text-center
          %h3
            Revenez meilleur après votre blessure
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
    .row
      .col-md-12
        .text-left
          À partir de 130 €/mois
          &nbsp;
          = link_to("https://h-training.s3.eu-west-3.amazonaws.com/H-REHAB+pre%CC%81sentation.pdf", target: "_blank", title: "Service H-REHAB", style: "text-decoration: none;") do
            %span.btn.btn-contact{:type => "button"}
              Service H-REHAB
              &nbsp;
              %i.fas.fa-arrow-right

.wrapper
  .container

#hpro
.animation-element.slide-left.service
  .header
    .left
      %h2.text-left.text-uppercase.blank
        H-PRO
    .right
  .content
    .row.vcenter
      .col-md-6.col-xs-6
        .text-justify
          H-PRO offre l’opportunité pour un club de profiter d’un environnement propice au développement des qualités physiques de ses sportifs en externalisant son staff. Un entrainement sur-mesure est proposé à vos athlètes et concerne les différents aspects de la performance : le développement des qualités physiques et des systèmes énergétiques spécifiques, la prévention de blessures, la récupération, la construction de nouvelles habiletés motrices, la mobilité et la flexibilité, du travail spécifique des mouvements fonctionnels en rapport avec l’activité et transférable en situation de compétition.
      .col-md-6.col-xs-6
        .text-center
          %h3
            Amenez vos sportifs à leurs meilleurs niveaux
          %br
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/VMbQ52h86A4", :width => "100%"}
    .row
      .col-md-12
        .text-left
          = link_to(contact_path, title: "contact") do
            %span.btn.btn-contact{:type => "button"}
              Demander un devis
              &nbsp;
              %i.fas.fa-arrow-right

.wrapper
  .container

#h2o
.animation-element.slide-left.service
  .header
    .left
      %h2.text-left.text-uppercase.blank
        H-(2)O
    .right
  .content
    .row.vcenter
      .col-md-6.col-xs-6
        .text-justify
          Rejoignez les séances collectives destinées à celles et ceux qui souhaitent développer leur potentiel physique et athlétique au sein d’un groupe et dans un environnement convivial. Mené par un encadrement qualifié, l’entraînement sollicite le corps entier, en vue de vous rendre plus fort, d’améliorer votre condition physique et de travailler votre silhouette, selon votre profil. Chaque séance est considérée comme une unité indépendante offrant de la diversité à votre entraînement.
      .col-md-6.col-xs-6
        .text-center
          %h3
            Dépassez vous au sein d’un groupe
          %br
          %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "250", :src => "https://www.youtube.com/embed/3krdRuj0LX0", :width => "100%"}
    .row
      .col-md-12
        .text-left
          À partir de 75 €/mois
          &nbsp;
          = link_to("https://h-training.s3.eu-west-3.amazonaws.com/H-(2)O+.pdf", target: "_blank", title: "Service H-PRO", style: "text-decoration: none;") do
            %span.btn.btn-contact{:type => "button"}
              TARIFS H-(2)O
              &nbsp;
              %i.fas.fa-arrow-right

.wrapper
  .container

#handco
.animation-element.slide-left.service
  .header
    .left
      %h2.text-left.text-uppercase.blank
        H-&Co
    .right
  .content
    .row.vcenter
      .col-md-6.col-xs-6
        .text-justify
          L’entrainement collectif optimisera les relations entre les collègues et la hiérarchie, valorisera l’image de votre entreprise en véhiculant une image moderne, renforcera l’esprit de groupe, augmentera le sentiment d’adhésion au sein de l’équipe, optimisera la performance professionnelle, diminuera les coûts de santé en prévenant les problèmes liés à la sédentarité, luttera contre le stress de vos employés, tout en améliorant leur concentration et la gestion de la fatigue. Ces arguments seront d’autant plus intéressants pour les métiers soumis au stress ou sous pression permanente de rentabilité, dont la cohésion entre salariés est un déterminant  de la performance, favorisant la sédentarité (bureau, conducteurs de transports), ou à activité répétitive (usine).
      .col-md-6.col-xs-6
        .text-center
          %h3
            Faites bouger votre entreprise
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
    .row
      .col-md-12
        .text-left

.wrapper
  .container
.wrapper
  .container
    %hr.hr-grey

.wrapper
  .container
    %h2.text-left.text-uppercase
      SERVICES
      %span ++

#suivi
.animation-element.slide-right.service
  .header
    .right
      %h2.text-right.text-uppercase.blank
        Suivi et Analyse Data GPS
    .left
  .content
    .row.vcenter
      .col-md-6.col-xs-6
        .text-center
          %h3
            Offrez vous un entraînement personnalisé
          %br
          = image_tag("service-suivi-analyse.jpg", :alt => "Suivi et Analyse Data GPS", :class => "img-responsive")
      .col-md-6.col-xs-6
        .text-justify
          S’engager dans le service d’accompagnement personnalisé c’est s’offrir l’opportunité d’atteindre ses objectifs. La planification de l’entraînement est réalisée de façon minutieuse selon votre profil et vos besoins. La souplesse des horaires s’adapte à vos contraintes pour vous permettre d’équilibrer au mieux vos temps de vie. Quel que soit votre objectif, notre équipe qualifiée saura vous conduire vers l’atteinte de vos objectifs.
    .row
      .col-md-12
        .text-right
          -# = link_to("https://h-training.s3.eu-west-3.amazonaws.com/H-(2)O+.pdf", target: "_blank", title: "Service H-PRO", style: "text-decoration: none;") do
          -#   %span.btn.btn-contact{:type => "button"}
          -#     %i.fas.fa-arrow-left
          -#     &nbsp;
          -#     SERVICE Suivi et Analyse
          -# &nbsp;
          À partir de 50 €/mois



.wrapper
  .container

#h2o
.animation-element.slide-right.service
  .header
    .right
      %h2.text-right.text-uppercase.blank
        Récupération : soins et pressothérapie
    .left
  .content
    .row.vcenter
      .col-md-6.col-xs-6
        .text-center
          %h3
            Bien s’entraîner c’est aussi bien récupérer !
          %br
          = image_tag("service-soins-et-recuperation.jpg", :alt => "Récupération : soins et pressothérapie", :class => "img-responsive")
      .col-md-6.col-xs-6
        .text-justify
          La structure H-TRAINING a souhaité vous mettre à disposition des soins quotidiens sur place grâce à la présence d’un professionnel de santé parmi son staff, kinésithérapeute, qui se déplace au centre d’entraînement 3 fois par mois.
          %br
          Les bottes de pressothérapie NORMATEC peuvent être utilisées en complément de façon illimitée selon disponibilité après vos séances d’entraînement.
    .row
      .col-md-12
        .text-right
          À partir de 50 €/mois


.wrapper
  .container
