%footer
  .container
    .text-center
      = image_tag("new-logo-h-training.png", :alt => "logo h-training", :id => "log")
      .barre
      %br
      %ul.nav.navbar-nav
        %li.nav-item
          = link_to('https://www.facebook.com/h.training.fr/', target: "_blank", title: "Facebook h-training") do
            %i.fab.fa-2x.fa-facebook-square
        %li.nav-item
          = link_to('https://www.instagram.com/h.training/', target: "_blank", title: "Instagram h-training") do
            %i.fab.fa-2x.fa-instagram
        %li.nav-item
          = link_to('https://www.youtube.com/channel/UCJfpN8tSkR5yh9RIhbVkGfQ/', target: "_blank", title: "Youtube h-training") do
            %i.fab.fa-2x.fa-youtube
        %li.nav-item
          = link_to('https://www.linkedin.com/company/h-training-fr/', target: "_blank", title: "Linkedin h-training") do
            %i.fab.fa-2x.fa-linkedin
      © Copyright 2018-2019 &nbsp; H-Training, tous droits réservés
      |
      = link_to 'contact', contact_path, title: "contact"
      |
      = link_to 'mentions légales', mentions_legales_path, title: "mentions légales"
