%header
  %nav.navbar.navbar-fixed-top{:role => "navigation"}
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.fa.fa-bars
        = link_to('/', title: "Homepage de H-training", class: "navbar-brand") do
          = image_tag("new-logo-h-training.png", :alt => "logo h-training", :id => "log")
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        .text-center
          %ul.nav.navbar-nav.navbar-left
            %li.nav-item
              = link_to 'Mission', notre_mission_path, title: "Notre mission", :class => current_page?(notre_mission_path) && 'active'
            %li.nav-item.dropdown
              = link_to 'Services', services_path, title: "Services", :class => "#{current_page?(services_path) && 'active'} nav-link dropdown-toggle", id:"navbarDropdownMenuLink", aria: {haspopup: true, expanded: true}
              .dropdown-menu.text-xs-center.display-mobile{ aria: {labelledby: "navbarDropdownMenuLink"}, role:"menu"}
                .container-fluid.wrapper-dropdown
                  .row
                    .col-md-3
                      = link_to(services_path(anchor: 'services'), title: "Services") do
                        %span SERVICES
                      %ul
                        %li.dropdown-item
                          = link_to 'H-PERF', services_path(anchor: 'hperf'), title: "Services : H-PERF", class: "dropdown-item"
                        %li.dropdown-item
                          = link_to 'H-REHAB', services_path(anchor: 'hrehab'), title: "Services : H-REHAB", class: "dropdown-item"
                        %li.dropdown-item
                          = link_to 'H-PRO', services_path(anchor: 'hpro'), title: "Services : H-PRO", class: "dropdown-item"
                        %li.dropdown-item
                          = link_to 'H-2O', services_path(anchor: 'h2o'), title: "Services : H-2O", class: "dropdown-item"
                    .col-md-3
                      %p{style:"margin-bottom:2px;"} &nbsp;
                      %ul
                        %li.dropdown-item
                          = link_to 'H-&Co', services_path(anchor: 'handco'), title: "Services : H-&Co", class: "dropdown-item"
                        %li.dropdown-item
                          = link_to 'REJOINS UN COLLECTIF', services_path(anchor: 'rejoins-un-collectif'), title: "Services : REJOINS UN COLLECTIF", class: "dropdown-item"
                        %li.dropdown-item
                          = link_to 'COMPARATIF DES SERVICES', services_path(anchor: 'comp'), title: "Services : COMPARATIF", class: "dropdown-item"
                    .col-md-6
                      = link_to(services_path(anchor: 'servicesPlus'), title: "Services") do
                        %span SERVICES ++
                      %ul
                        %li.dropdown-item
                          = link_to 'RÉCUPÉRATION : SOIN & PRESSOTHÉRAPIE', services_path(anchor: 'recuperation'), title: "Services+ : RÉCUPÉRATION : SOIN & PRESSOTHÉRAPIE"
                        %li.dropdown-item
                          = link_to 'SUIVI NUTRITIONNEL', services_path(anchor: 'nutritionnel'), title: "Services+ : SUIVI NUTRITIONNEL"
                        %li.dropdown-item
                          = link_to 'GYM DOUCE : YOGA, PILATES, STRETCHING', services_path(anchor: 'gym'), title: "Services+ : GYM DOUCE : YOGA, PILATES, STRETCHING"
                        %li.dropdown-item
                          = link_to 'SUIVI & ANALYSE DATA GPS', services_path(anchor: 'suivi'), title: "Services+ : SUIVI & ANALYSE DATA GPS"
            %li.nav-item.dropdown
              = link_to 'Effectif', effectif_path, title: "effectif", :class => "#{current_page?(effectif_path) && 'active'} nav-link dropdown-toggle", id:"navbarDropdownMenuLink1", aria: {haspopup: true, expanded: true}
              .dropdown-menu.text-xs-center.display-mobile{ aria: {labelledby: "navbarDropdownMenuLink1"}, role:"menu"}
                .container-fluid.wrapper-dropdown
                  .row
                    .col-md-4
                      = link_to(effectif_path(anchor: 'athletes'), title: "Effectif") do
                        %span ATHLÈTES
                      %ul
                        %li.dropdown-item
                          = link_to 'ATHLÈTES', effectif_path(anchor: 'athletes'), title: "Effectif : ATHLÈTES"
                    .col-md-4
                      = link_to(effectif_path(anchor: 'sportif'), title: "STAFF") do
                        %span STAFF
                      %ul
                        %li.dropdown-item
                          = link_to 'SPORTIF', effectif_path(anchor: 'sportif'), title: "Effectif : SPORTIF"
                        %li.dropdown-item
                          = link_to 'MÉDICAL', effectif_path(anchor: 'medical'), title: "Effectif : MÉDICAL"
            %li.nav-item.dropdown
              = link_to 'Sponsoring', sponsors_path, title: "Sponsoring", :class => current_page?(sponsors_path) && 'active'
          %ul.nav.navbar-nav.navbar-right
            %li.nav-item.dropdown
              = link_to 'Partenaires', partenaires_path, title: "Partenaires", :class => current_page?(partenaires_path) && 'active'

            %li.nav-item.dropdown
              = link_to 'Medias', media_path, title: "Medias", :class => "#{current_page?(media_path) && 'active'} nav-link dropdown-toggle", id:"navbarDropdownMenuLink3", aria: {haspopup: true, expanded: true}
              .dropdown-menu.text-xs-center.display-mobile{ aria: {labelledby: "navbarDropdownMenuLink3"}, role:"menu"}
                .container-fluid.wrapper-dropdown
                  .row
                    .col-md-4
                      = link_to(media_path(anchor: 'phototheque'), title: "PHOTOTHÈQUE") do
                        %span PHOTOTHÈQUE
                    .col-md-4
                      = link_to(media_path(anchor: 'videotheque'), title: "VIDEOTHÈQUE") do
                        %span VIDEOTHÈQUE
                      %ul
                        %li.dropdown-item
                          = link_to 'À LA UNE', media_path(anchor: 'une'), title: "Media : à la une"
                        %li.dropdown-item
                          = link_to 'PLAYLIST', media_path(anchor: 'playlist'), title: "Media : playlist"
            %li.nav-item.dropdown
              = link_to 'Boutique', boutique_path, title: "Boutique", :class => "#{current_page?(boutique_path) && 'active'} nav-link dropdown-toggle", id:"navbarDropdownMenuLink4", aria: {haspopup: true, expanded: true}
              .dropdown-menu.text-xs-center.display-mobile{ aria: {labelledby: "navbarDropdownMenuLink4"}, role:"menu"}
                .container-fluid.wrapper-dropdown
                  .row
                    .col-md-4
                      = link_to(boutique_path(anchor: 'shop'), title: "SHOP") do
                        %span SHOP
                      %ul
                        %li.dropdown-item
                          &nbsp;
                    .col-md-4
                      = link_to("https://giftcard.sumup.io/order/GN5ZB71/h-training", target: "_blank", title: "CARTE CADEAU") do
                        %span CARTE CADEAU
            %li.nav-item.dropdown
              = link_to 'Contact', contact_path, title: "Contact", :class => "#{current_page?(contact_path) && 'active'} nav-link dropdown-toggle", id:"navbarDropdownMenuLink5", aria: {haspopup: true, expanded: true}
              .dropdown-menu.text-xs-center.display-mobile{ aria: {labelledby: "navbarDropdownMenuLink5"}, role:"menu"}
                .container-fluid.wrapper-dropdown
                  .row
                    .col-md-4
                      = link_to(contact_path(anchor: 'message'), title: "PRENDRE CONTACT") do
                        %span PRENDRE CONTACT
                      %ul
                        %li.dropdown-item
                          &nbsp;
                    .col-md-4
                      = link_to(contact_path(anchor: 'localisation'), title: "LOCALISATION") do
                        %span LOCALISATION
                    .col-md-4
                      = link_to(contact_path(anchor: 'faq'), title: "FAQ") do
                        %span FAQ

        -# %ul.nav.navbar-nav.navbar-right
        -#   %li.nav-item
        -#     = link_to('https://www.facebook.com/h.training.fr/', target: "_blank", title: "Facebook h-training") do
        -#       %i.fab.fa-2x.fa-facebook-square
        -#   %li.nav-item
        -#     = link_to('https://www.instagram.com/h.training/', target: "_blank", title: "Instagram h-training") do
        -#       %i.fab.fa-2x.fa-instagram
        -#   %li.nav-item
        -#     = link_to('https://www.linkedin.com/company/h-training-fr/', target: "_blank", title: "Linkedin h-training") do
        -#       %i.fab.fa-2x.fa-linkedin
