%header
  %nav.navbar.navbar-default.navbar-fixed-top.navbar-transparent{:role => "navigation"}
    .container
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.fa.fa-bars
        = link_to('/', title: "Homepage de H-training", class: "navbar-brand") do
          = image_tag("logo-h-training-white.png", :alt => "logo h-training", :height => "50px", :id => "log", :class => "display-mobile")
          = image_tag("logo-h-training-black.png", :alt => "logo h-training", :height => "50px", :id => "log", :class => "display-screen")
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        .text-center
          %ul.nav.navbar-nav.navbar-center
            %li.nav-item
              = link_to 'H-training', h_training_path, title: "H-training", :class => current_page?(h_training_path) && 'active'
            %li.nav-item
              = link_to 'Services', services_path, title: "Services", :class => current_page?(services_path) && 'active'
            %li.nav-item
              = link_to 'Actualités', actualites_path, title: "Actualités", :class => current_page?(actualites_path) && 'active'
            %li.nav-item
              = link_to 'Réservation', reservation_path, title: "Réservation", :class => current_page?(reservation_path) && 'active'
            %li.nav-item
              = link_to 'Espace Perso', espace_perso_path, title: "Espace Perso", :class => current_page?(espace_perso_path) && 'active'
        %ul.nav.navbar-nav.navbar-right
          %li.nav-item
            = link_to('https://www.facebook.com/h.training.fr/', target: "_blank", title: "Facebook h-training") do
              %i.fab.fa-2x.fa-facebook-square
          %li.nav-item
            = link_to('https://www.instagram.com/h.training/', target: "_blank", title: "Instagram h-training") do
              %i.fab.fa-2x.fa-instagram
