!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "H-training"

    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %meta{:name => "google-site-verification", :content => "6B4e0bFnwoN11HZT0SRvcP0Onc4LR9mKYx9Ntz1Stu0"}

    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/site.webmanifest", :rel => "manifest"}/
    %link{:color => "#5bbad5", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}/
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/


    - if content_for?(:meta)
      = yield(:meta)

    = stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Lato: 400,700,900,400italic', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', media: 'all', "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'

    -# - if Rails.env == "production"
    -#   / Load Facebook SDK for JavaScript
    -#   #fb-root
    -#   :javascript
    -#     window.fbAsyncInit = function() {
    -#       FB.init({
    -#         xfbml            : true,
    -#         version          : 'v6.0'
    -#       });
    -#     };
    -#
    -#     (function(d, s, id) {
    -#       var js, fjs = d.getElementsByTagName(s)[0];
    -#       if (d.getElementById(id)) return;
    -#       js = d.createElement(s); js.id = id;
    -#       js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
    -#       fjs.parentNode.insertBefore(js, fjs);
    -#     }(document, 'script', 'facebook-jssdk'));
    -#   / Your customer chat code
    -#   .fb-customerchat{:attribution => "install_email", :logged_in_greeting => "Bonjour ! Comment puis-je vous aider ? ", :logged_out_greeting => "Bonjour ! Comment puis-je vous aider ? ", :page_id => "1039779756133318"}
