!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "H-training"

    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %meta{:name => "google-site-verification", :content => "6B4e0bFnwoN11HZT0SRvcP0Onc4LR9mKYx9Ntz1Stu0"}

    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/site.webmanifest", :rel => "manifest"}/
    %link{:color => "#5bbad5", :href => "/safari-pinned-tab.svg", :rel => "mask-icon"}/
    %meta{:content => "#ffffff", :name => "msapplication-TileColor"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/

    - if content_for?(:meta)
      = yield(:meta)

    = stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', media: 'all', "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/social_btn'
    = render 'layouts/footer'

    #MyPopup.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "MyPopupLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header.text-center
            %h5#MyPopupLabel.modal-title  ACCÈS LIBRE - SÉANCES pour Tous
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body
            .container-fluid
              .text-center
                H-TRAINING vous met à disposition des séances d'entraînement pendant la période de confinement : pour nos athlètes, mais pas seulement... profitez-en en accès libre !
                Maintenez un bon recrutement des muscles posturaux, découvrez une autre forme de travail, ou c'est peut être même l'occasion de commencer !
                %br
                %i{style: "font-size:14px;"} Recevez immédiatement votre 1ère séance, et les prochaines chaque jour par e-mail
              %br
              = simple_form_for(:form_popup, html: { class: 'form-horizontal' }) do |f|
                .form-inputs.text-center
                  .row
                    .col-md-6
                      Inscrivez-vous :&nbsp;&nbsp;
                    .col-md-6
                      = f.input :email, required: true, label: false, placeholder: "Votre adresse e-mail", autofocus: false

              #okidokki
              #notoki
          .modal-footer{style:"text-align:center;"}
            %span#button-popup.btn.btn-contact{:type => "button"}
              %span.ladda-label
                C'est parti !
